In [1]:
import pandas as pd
import numpy as np
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [14]:


# Create Engine and Pass in MySQL Connection
#engine = create_engine("mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz")
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')
conn =  engine.connect()
query = "SELECT * FROM temperature"
df = pd.read_sql(query,conn)
print(df.head())

             datetime            van            por          sfran  \
0 2012-10-01 13:00:00         284.63         282.08         289.48
1 2012-10-01 14:00:00   284.62904131  282.083251974  289.474992813
2 2012-10-01 15:00:00  284.626997923  282.091866475  289.460618112
3 2012-10-01 16:00:00  284.624954535  282.100480976  289.446243412
4 2012-10-01 17:00:00  284.622911147  282.109095477  289.431868711

             sea             la           sand          laveg            pho  \
0          281.8         291.87         291.53         293.41          296.6
1  281.797216632  291.868185522  291.533500952  293.403141271  296.608508543
2  281.789832606  291.862844459  291.543355079  293.392177052  296.631487354
3   281.78244858  291.857503395  291.553209206  293.381212832  296.654466164
4  281.775064553  291.852162332  291.563063333  293.370248613  296.677444975

             alb   ...              nyc            mon            bos  \
0         285.12   ...           288.22         285.83         287.17
1  285.154558187   ...     288.24767617  285.834649953  287.186092094
2  285.233951595   ...    288.326939663  285.847789539   287.23167159
3  285.313345004   ...    288.406203155  285.860929124  287.277251086
4  285.392738413   ...    288.485466648  285.874068709  287.322830583

             bee            tel            eil    hai    nah    jer date_id
0         307.59         305.47         310.58  304.4  304.4  303.5       1
1         307.59         304.31  310.495769231  304.4  304.4  303.5       2
2  307.391512749  304.281841331  310.411538462  304.4  304.4  303.5       3
3  307.145199718  304.238014609  310.327307692  304.4  304.4  303.5       4
4  306.898886687  304.194187887  310.243076923  304.4  304.4  303.5       5

[5 rows x 38 columns]

In [21]:
def kelvin_to_F(kelvin):
    # convert to celcius
    cel = kelvin - 273.15
    # convert to farhenhit 
    f = (cel * 1.8) + 32 
    return round(f)

kelvin_to_F(285.154558187)

54

In [18]:
import os
import datetime as dt
print(os.getcwd())
temp = pd.read_csv('historical-hourly-weather-data/temperature.csv', parse_dates=['datetime'])

C:\Users\corey\Dropbox\uci\Project-2\Travel-Informers

In [19]:
temp.set_index("datetime", inplace=True)

In [20]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45253 entries, 2012-10-01 12:00:00 to 2017-11-30 00:00:00
Data columns (total 36 columns):
Vancouver            44458 non-null float64
Portland             45252 non-null float64
San Francisco        44460 non-null float64
Seattle              45250 non-null float64
Los Angeles          45250 non-null float64
San Diego            45252 non-null float64
Las Vegas            45252 non-null float64
Phoenix              45250 non-null float64
Albuquerque          45252 non-null float64
Denver               45252 non-null float64
San Antonio          45252 non-null float64
Dallas               45249 non-null float64
Houston              45250 non-null float64
Kansas City          45252 non-null float64
Minneapolis          45240 non-null float64
Saint Louis          45252 non-null float64
Chicago              45250 non-null float64
Nashville            45251 non-null float64
Indianapolis         45246 non-null float64
Atlanta              45247 non-null float64
Detroit              45252 non-null float64
Jacksonville         45252 non-null float64
Charlotte            45250 non-null float64
Miami                44448 non-null float64
Pittsburgh           45250 non-null float64
Toronto              45252 non-null float64
Philadelphia         45250 non-null float64
New York             44460 non-null float64
Montreal             45250 non-null float64
Boston               45250 non-null float64
Beersheba            44455 non-null float64
Tel Aviv District    44460 non-null float64
Eilat                44461 non-null float64
Haifa                44455 non-null float64
Nahariyya            44456 non-null float64
Jerusalem            44460 non-null float64
dtypes: float64(36)
memory usage: 12.8 MB

In [22]:
# convert to f
temp_clean = temp.apply(lambda x: kelvin_to_F(x)).dropna()

## Using Resample to get daily averages, max, and min

In [23]:
temp_clean.resample("D").mean().to_csv('historical-hourly-weather-data/daily_avg_temps.csv', encoding='utf-8')
temp_clean.resample("M").mean().to_csv('historical-hourly-weather-data/monthly_avg_temps.csv', encoding='utf-8')
temp_clean.resample("D").min().to_csv('historical-hourly-weather-data/daily_min_temps.csv', encoding='utf-8')
temp_clean.resample("D").max().to_csv('historical-hourly-weather-data/daily_max_temps.csv', encoding='utf-8')