In [5]:
import pandas as pd
import numpy as np
# SQL Alchemy
from sqlalchemy import create_engine
import json
# PyMySQL
import pymysql
#pymysql.install_as_MySQLdb()

In [14]:


# Create Engine and Pass in MySQL Connection
#engine = create_engine("mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz")
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')
conn =  engine.connect()
query = "SELECT * FROM temperature"
df = pd.read_sql(query,conn)
print(df.head())

             datetime            van            por          sfran  \
0 2012-10-01 13:00:00         284.63         282.08         289.48
1 2012-10-01 14:00:00   284.62904131  282.083251974  289.474992813
2 2012-10-01 15:00:00  284.626997923  282.091866475  289.460618112
3 2012-10-01 16:00:00  284.624954535  282.100480976  289.446243412
4 2012-10-01 17:00:00  284.622911147  282.109095477  289.431868711

             sea             la           sand          laveg            pho  \
0          281.8         291.87         291.53         293.41          296.6
1  281.797216632  291.868185522  291.533500952  293.403141271  296.608508543
2  281.789832606  291.862844459  291.543355079  293.392177052  296.631487354
3   281.78244858  291.857503395  291.553209206  293.381212832  296.654466164
4  281.775064553  291.852162332  291.563063333  293.370248613  296.677444975

             alb   ...              nyc            mon            bos  \
0         285.12   ...           288.22         285.83         287.17
1  285.154558187   ...     288.24767617  285.834649953  287.186092094
2  285.233951595   ...    288.326939663  285.847789539   287.23167159
3  285.313345004   ...    288.406203155  285.860929124  287.277251086
4  285.392738413   ...    288.485466648  285.874068709  287.322830583

             bee            tel            eil    hai    nah    jer date_id
0         307.59         305.47         310.58  304.4  304.4  303.5       1
1         307.59         304.31  310.495769231  304.4  304.4  303.5       2
2  307.391512749  304.281841331  310.411538462  304.4  304.4  303.5       3
3  307.145199718  304.238014609  310.327307692  304.4  304.4  303.5       4
4  306.898886687  304.194187887  310.243076923  304.4  304.4  303.5       5

[5 rows x 38 columns]

In [40]:
def kelvin_to_F(kelvin):
    # convert to celcius
    cel = kelvin - 273.15
    # convert to farhenhit 
    f = (cel * 1.8) + 32 
    return round(f)

kelvin_to_F(285.154558187)

54

In [62]:
import os
import datetime as dt
print(os.getcwd())
temp = pd.read_csv('historical-hourly-weather-data/temperature.csv', parse_dates=['datetime'], index_col='datetime')

C:\Users\corey\Dropbox\uci\Project-2\Travel-Informers

# select only the cities in the US and Canada and only for years after 2014

In [65]:
temp = temp.loc[:, 'Vancouver':'Boston']

temp = temp[temp.index > '2015']

In [66]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25536 entries, 2015-01-01 01:00:00 to 2017-11-30 00:00:00
Data columns (total 30 columns):
Vancouver        24744 non-null float64
Portland         25536 non-null float64
San Francisco    24744 non-null float64
Seattle          25536 non-null float64
Los Angeles      25536 non-null float64
San Diego        25536 non-null float64
Las Vegas        25536 non-null float64
Phoenix          25536 non-null float64
Albuquerque      25536 non-null float64
Denver           25536 non-null float64
San Antonio      25536 non-null float64
Dallas           25536 non-null float64
Houston          25536 non-null float64
Kansas City      25536 non-null float64
Minneapolis      25536 non-null float64
Saint Louis      25536 non-null float64
Chicago          25536 non-null float64
Nashville        25536 non-null float64
Indianapolis     25536 non-null float64
Atlanta          25536 non-null float64
Detroit          25536 non-null float64
Jacksonville     25536 non-null float64
Charlotte        25536 non-null float64
Miami            24744 non-null float64
Pittsburgh       25536 non-null float64
Toronto          25536 non-null float64
Philadelphia     25536 non-null float64
New York         24744 non-null float64
Montreal         25536 non-null float64
Boston           25536 non-null float64
dtypes: float64(30)
memory usage: 6.0 MB

In [67]:
# convert to f
temp_clean = temp.apply(lambda x: kelvin_to_F(x)).dropna().astype('int')
temp_clean.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-01 01:00:00,35,27,53,31,40,38,35,40,19,10,...,17,55,31,74,21,20,22,23,15,24
2015-01-01 02:00:00,35,26,51,30,38,35,35,38,16,5,...,16,54,29,73,21,20,21,21,15,23
2015-01-01 03:00:00,35,25,51,30,34,33,34,37,16,6,...,17,54,29,72,21,20,22,21,15,24
2015-01-01 04:00:00,35,23,49,29,32,30,34,35,11,-1,...,16,53,27,71,21,21,20,21,15,23
2015-01-01 05:00:00,35,22,48,28,29,27,33,33,10,-2,...,17,53,26,70,21,21,20,20,16,23

In [45]:
np.shape(temp_clean.resample('D').mean())

(1854, 30)

## Using Resample to get daily averages, max, and min

In [68]:
temp_clean.resample("D").mean().round(decimals=2).to_csv('historical-hourly-weather-data/daily_avg_temps.csv', encoding='utf-8')

In [69]:
temp_clean.resample("M").mean().to_csv('historical-hourly-weather-data/monthly_avg_temps.csv', encoding='utf-8')
temp_clean.resample("D").min().to_csv('historical-hourly-weather-data/daily_min_temps.csv', encoding='utf-8')
temp_clean.resample("D").max().to_csv('historical-hourly-weather-data/daily_max_temps.csv', encoding='utf-8')

## Do the same with Humidity and Wind Speed but with functions

In [50]:
def clean_weather(df, ):
    cities = df.loc[:, 'Vancouver':'Boston']
    years = cities.loc[pd.date_range('2015-01-01 12:00:00', periods=8760, freq='H').values, :]
    #print(years.head(30))

   
    daily_avg = years.resample("D").mean().round(decimals=2)
    daily_min = years.resample("D").min().round(decimals=2)
    daily_max = years.resample("D").max().round(decimals=2)
    return daily_avg, daily_min, daily_max

In [32]:
humidity = pd.read_csv('historical-hourly-weather-data/humidity.csv', parse_dates=['datetime'], index_col='datetime')
humidity.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,62.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,62.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,62.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,62.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0
2012-10-01 17:00:00,78.0,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,63.0,...,69.0,57.0,80.0,68.0,54.0,62.0,23.0,51.0,51.0,50.0

In [51]:
hum_daily_avg, hum_daily_min, hum_daily_max = clean_weather(humidity)
hum_daily_avg.head(50)

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-01,100.00,74.25,97.00,94.25,35.17,64.17,39.08,65.67,78.00,49.75,...,74.58,83.75,77.75,69.92,49.67,97.58,52.75,66.83,65.17,100.00
2015-01-02,99.92,74.00,98.33,97.88,52.50,66.21,54.21,62.12,73.42,64.88,...,79.17,90.38,75.71,84.08,54.17,90.46,56.38,61.46,66.00,95.83
2015-01-03,100.00,92.25,98.21,99.71,61.00,66.71,53.75,61.38,80.12,63.46,...,87.96,90.62,97.08,79.71,85.79,97.21,80.38,77.58,66.75,99.42
2015-01-04,100.00,96.58,98.62,99.83,59.25,65.67,56.25,60.25,70.42,62.33,...,94.79,85.08,94.83,81.17,92.62,96.38,96.04,96.62,92.58,93.83
2015-01-05,100.00,97.62,97.50,95.71,62.54,57.67,55.67,57.17,75.33,49.17,...,81.54,78.79,69.83,85.33,63.29,99.58,73.25,64.33,78.42,93.92
2015-01-06,95.71,90.08,95.46,94.88,53.79,50.62,55.42,54.92,70.46,52.29,...,84.54,83.21,70.58,81.08,63.75,100.00,58.21,64.88,79.29,100.00
2015-01-07,94.79,90.54,92.54,98.29,53.75,49.58,58.75,53.08,73.88,73.83,...,72.04,78.17,62.83,84.21,52.17,100.00,61.29,82.62,82.33,100.00
2015-01-08,99.12,90.46,91.12,99.71,47.12,51.00,61.38,40.83,81.38,55.83,...,75.38,86.83,64.12,68.54,44.92,100.00,44.62,58.33,78.08,100.00
2015-01-09,97.50,91.62,91.67,98.21,52.46,57.71,65.46,61.92,76.83,76.04,...,77.17,90.83,57.42,78.29,51.75,100.00,56.08,74.83,82.08,100.00
2015-01-10,99.58,92.58,94.38,97.67,71.54,74.54,66.83,60.38,83.92,61.54,...,76.25,77.17,58.83,79.46,55.17,100.00,55.29,59.83,74.92,100.00
2015-01-11,99.92,98.71,94.25,100.00,84.25,71.38,79.88,68.54,81.00,65.83,...,79.33,91.38,67.96,83.33,51.46,99.08,59.62,66.96,78.17,100.00
2015-01-12,100.00,97.21,95.38,99.25,90.42,88.54,84.29,74.83,83.79,87.96,...,88.54,94.25,97.62,92.21,84.50,95.17,81.21,87.88,84.92,100.00
2015-01-13,100.00,92.21,88.96,98.21,80.67,87.00,73.96,75.29,91.00,83.00,...,75.25,96.33,97.67,96.54,73.38,99.79,80.96,82.29,69.17,100.00
2015-01-14,100.00,86.46,93.12,99.25,54.83,65.92,51.00,75.96,95.00,80.50,...,68.17,97.29,96.00,96.38,70.83,98.17,79.12,77.21,77.67,100.00
2015-01-15,98.92,82.75,95.88,98.00,60.42,60.96,58.12,66.29,86.38,61.50,...,79.08,94.38,90.25,89.75,74.79,99.75,82.08,87.88,82.46,100.00
2015-01-16,95.58,96.17,96.12,95.25,59.88,54.33,53.96,54.21,80.50,52.71,...,81.21,94.75,83.71,92.00,73.83,96.00,78.62,82.33,76.83,100.00
2015-01-17,99.04,91.62,95.67,97.29,54.75,51.42,56.08,46.75,71.71,37.75,...,78.38,87.04,73.12,83.75,70.50,94.75,67.83,72.79,66.62,100.00
2015-01-18,93.38,97.50,94.88,94.50,42.75,55.79,59.17,52.38,75.50,31.04,...,89.75,79.75,77.00,78.88,65.96,83.71,87.75,87.62,75.46,96.08
2015-01-19,93.42,98.08,95.42,97.67,60.50,57.88,63.71,53.83,73.79,43.46,...,87.83,66.71,57.79,79.83,71.00,93.71,88.50,89.00,90.42,92.08
2015-01-20,99.29,92.92,96.29,97.79,63.08,66.21,65.54,55.71,72.75,65.33,...,91.08,72.92,47.58,78.21,73.38,98.83,80.88,81.08,75.75,99.08
2015-01-21,99.88,92.17,96.79,99.42,74.79,73.67,66.58,61.25,81.79,74.12,...,90.04,82.17,59.17,92.00,87.79,97.54,77.96,77.46,75.04,99.92
2015-01-22,100.00,91.17,96.21,96.38,48.38,59.79,41.83,34.12,85.17,70.29,...,90.21,69.88,61.38,78.92,87.54,98.38,84.92,84.29,78.00,100.00
2015-01-23,98.67,93.75,95.08,97.67,53.38,41.54,41.17,37.54,76.21,60.79,...,83.29,78.50,77.42,75.42,81.29,95.96,81.21,82.29,80.42,100.00
2015-01-24,93.38,92.08,87.67,95.17,22.08,39.50,38.71,34.08,75.79,62.88,...,85.00,87.62,91.21,84.00,85.83,95.79,95.71,95.79,82.92,100.00
2015-01-25,92.21,90.75,90.17,93.38,27.88,38.79,42.50,33.83,76.62,53.75,...,87.50,89.62,78.54,78.92,84.88,97.29,82.79,81.54,72.96,100.00
2015-01-26,95.62,91.46,93.83,93.62,32.33,40.58,54.38,39.04,71.58,51.83,...,81.33,83.21,73.96,85.33,95.75,100.00,86.00,83.88,71.04,100.00
2015-01-27,94.38,90.46,92.25,93.83,79.75,82.54,79.71,69.21,73.29,54.12,...,77.33,72.46,67.33,80.46,80.21,99.50,80.08,86.33,64.00,100.00
2015-01-28,97.75,95.83,91.38,96.67,77.62,74.25,74.25,71.38,71.17,59.21,...,77.75,75.67,65.58,79.29,71.54,97.79,68.25,76.38,55.25,100.00
2015-01-29,98.29,92.42,94.38,96.08,62.17,54.88,71.00,61.83,74.67,68.71,...,86.46,82.12,65.17,78.12,70.25,87.92,66.04,76.62,70.04,100.00
2015-01-30,98.88,91.83,94.33,95.08,67.92,67.71,72.83,90.88,83.38,70.79,...,80.71,71.25,53.88,76.67,79.71,97.46,83.08,86.92,84.33,100.00
2015-01-31,98.83,88.75,80.75,96.12,69.71,81.17,95.08,98.50,98.50,76.08,...,81.67,67.29,58.46,75.71,68.92,98.54,66.71,73.71,68.29,100.00
2015-02-01,100.00,90.71,86.92,98.96,55.50,70.50,67.33,88.33,83.54,86.17,...,86.92,78.62,56.08,72.62,78.75,98.42,79.58,80.46,68.17,100.00
2015-02-02,99.88,96.50,91.29,98.83,46.25,59.17,58.12,73.46,81.50,62.71,...,82.17,77.29,75.38,73.88,85.62,80.54,93.12,95.25,73.21,100.00
2015-02-03,99.75,94.29,90.88,97.04,59.04,59.58,60.38,68.88,76.17,54.17,...,75.00,72.75,75.62,71.25,65.67,74.04,68.92,78.58,74.75,100.00
2015-02-04,100.00,96.79,90.33,98.96,66.62,66.75,57.62,66.71,67.92,64.08,...,90.46,86.92,68.42,74.62,68.75,85.58,75.54,80.42,89.38,99.71
2015-02-05,98.25,92.83,93.67,96.42,66.83,67.08,61.42,66.21,63.79,57.00,...,73.42,97.21,55.88,83.21,70.17,72.96,79.50,82.96,81.42,99.21
2015-02-06,89.38,95.00,87.33,92.54,72.33,65.08,60.75,61.04,64.21,42.62,...,79.38,90.67,59.00,82.46,61.62,76.29,65.25,72.83,80.67,100.00
2015-02-07,91.54,96.75,92.38,94.92,74.92,69.38,39.00,59.92,56.88,44.25,...,88.92,86.00,53.79,68.46,62.54,93.38,74.92,81.00,82.54,100.00
2015-02-08,93.17,96.25,93.46,94.08,83.42,76.38,62.46,64.12,46.12,43.08,...,90.92,76.29,37.96,70.54,70.71,99.75,77.83,86.38,81.17,100.00
2015-02-09,95.71,93.08,93.58,93.92,78.88,78.33,54.54,62.33,61.62,53.71,...,88.67,81.04,65.62,94.00,94.88,99.71,95.75,98.33,85.62,100.00
2015-02-10,97.54,97.25,95.58,95.42,73.79,75.21,41.38,64.08,55.54,53.83,...,84.79,82.88,88.88,92.71,81.38,99.33,86.54,90.50,83.58,100.00
2015-02-11,98.38,91.75,92.25,92.92,44.79,58.29,35.88,47.75,68.12,76.92,...,87.50,76.92,77.04,83.75,78.88,84.67,81.83,83.50,74.46,100.00
2015-02-12,96.88,90.71,89.12,94.17,35.50,28.75,42.71,32.54,75.83,64.75,...,79.75,77.29,68.00,79.71,73.42,81.50,81.50,84.04,84.38,100.00
2015-02-13,95.58,89.04,88.46,91.62,31.42,38.17,44.00,42.67,72.92,63.38,...,71.62,64.88,55.50,74.62,58.88,76.54,64.88,69.04,70.75,100.00
2015-02-14,95.88,90.71,87.46,93.25,37.50,40.08,41.21,43.00,66.71,61.46,...,81.50,77.83,62.62,70.62,64.79,81.00,72.75,78.62,78.54,100.00
2015-02-15,98.38,85.54,85.42,96.71,39.12,43.58,39.21,40.17,65.08,60.50,...,70.00,54.62,44.92,77.33,54.17,97.46,68.33,80.12,76.67,100.00
2015-02-16,96.42,59.88,84.96,91.42,51.25,61.88,36.12,61.96,44.54,88.38,...,61.62,67.88,56.25,72.79,59.88,100.00,60.88,70.00,63.54,100.00
2015-02-17,92.33,52.83,95.21,77.17,69.33,71.46,32.17,50.12,57.17,75.54,...,68.50,76.67,96.00,73.54,69.88,79.83,77.29,84.21,64.92,100.00
2015-02-18,97.96,80.12,97.42,79.54,66.08,71.21,30.46,30.08,45.46,58.71,...,80.83,88.33,87.92,90.29,68.96,82.46,67.04,71.50,73.92,100.00
2015-02-19,99.29,89.38,96.96,93.54,68.12,69.08,38.46,37.79,46.08,55.21,...,69.54,76.25,79.71,86.08,55.12,76.79,66.00,76.21,82.00,100.00

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-01,100.0,64.0,81.0,99.0,39.0,76.0,36.0,76.0,77.0,44.0,...,53.0,59.0,67.0,100.0,86.0,100.0,100.0,100.0,89.0,87.0
2015-01-02,100.0,67.0,96.0,92.0,48.0,70.0,47.0,69.0,75.0,57.0,...,53.0,58.0,68.0,98.0,76.0,100.0,100.0,100.0,99.0,91.0
2015-01-03,100.0,78.0,98.0,96.0,55.0,67.0,50.0,56.0,82.0,58.0,...,62.0,62.0,62.0,93.0,85.0,100.0,100.0,100.0,100.0,100.0
2015-01-04,100.0,97.0,97.0,100.0,60.0,66.0,47.0,63.0,79.0,74.0,...,96.0,96.0,87.0,100.0,84.0,90.0,100.0,100.0,100.0,99.0
2015-01-05,100.0,97.0,99.0,97.0,51.0,48.0,55.0,60.0,76.0,52.0,...,95.0,98.0,96.0,86.0,89.0,92.0,100.0,100.0,100.0,100.0

In [46]:
hum_daily_avg.to_csv("historical-hourly-weather-data/daily_2015_avg_humidity.csv", encoding='utf-8')
hum_daily_max.to_csv("historical-hourly-weather-data/daily_2015_max_humidity.csv", encoding='utf-8')
hum_daily_min.to_csv("historical-hourly-weather-data/daily_2015_min_humidity.csv", encoding='utf-8')

In [47]:
wind = pd.read_csv('historical-hourly-weather-data/wind_speed.csv', parse_dates=['datetime'], index_col='datetime')

In [48]:
wind_daily_avg, wind_daily_min, wind_daily_max = clean_weather(wind)

In [49]:
wind_daily_avg.to_csv("historical-hourly-weather-data/daily_2015_avg_wind.csv", encoding='utf-8')
wind_daily_max.to_csv("historical-hourly-weather-data/daily_2015_max_wind.csv", encoding='utf-8')
wind_daily_min.to_csv("historical-hourly-weather-data/daily_2015_min_wind.csv", encoding='utf-8')

In [10]:
import seaborn as sns
%matplotlib inline

# Wrangle weather Descriptions

In [6]:
df = pd.read_csv('historical-hourly-weather-data/weather_description.csv', parse_dates=['datetime'], index_col='datetime')

In [7]:
df.loc[pd.date_range('1/1/2015', periods=30, freq='D').values, :]['Portland'].value_counts(ascending=False)

light rain              9
sky is clear            6
moderate rain           4
scattered clouds        4
heavy intensity rain    2
few clouds              2
broken clouds           2
overcast clouds         1
Name: Portland, dtype: int64

In [21]:
import random

def create_color_codes(weather_list):
    '''
    dynamically create color codes from weather descriptions
    '''
    color_codes = []
    snow_counter = 0
    storm_counter = 0
    rain_counter = 0
    clear_counter = 0
    cloud_counter = 0
    for value in weather_list:
        try:
            if 'snow' in value:
                color_codes.append("rgb(159,255,203)")
                if snow_counter >= 1:
                    color_codes.append(f"rgb(159,255,{203 + snow_counter * 10})")
                snow_counter += 1
            elif 'storm' in value:
                color_codes.append("rgb(16,79,85)")
                if storm_counter >= 1:
                    color_codes.append(f"rgb({16 + storm_counter * 10},{79 + snow_counter * 10},85)")
                storm_counter += 1

            elif 'rain' in value:
                color_codes.append("rgb(40,210,219)")
                if rain_counter >= 1:
                    color_codes.append(f"rgb({160 - rain_counter * 20},{210 - rain_counter * 20},{219 - rain_counter*20})")
                rain_counter += 1

            elif 'clear' in value:
                color_codes.append("rgb(251,237,99)")
                if clear_counter >= 1:
                    color_codes.append(f"rgb(251,237,{99 + clear_counter})")
                clear_counter += 1
                print('clear:', value)
            elif 'clouds' in value:
                print(value)
                color_codes.append("rgb(194,207,178)")
                if cloud_counter >= 1:
                    code = f"rgb({194 + cloud_counter * 30},{207 - cloud_counter * 10},{178 - cloud_counter * 10})"
                    color_codes.append(code)
                    print(code)
                cloud_counter += 1
                print('clouds:', value, cloud_counter)
            elif 'haze' in value:
                color_codes.append("rgb(197,211,119)")
            elif 'mist' in value:
                color_codes.append("rgb(247,189,178)")
            else:
                color_codes.append(f"rgb({random.randint(50,200)},{random.randint(50,200)},{random.randint(50,100)})")
            
        except:
            print('nan')
    return color_codes

In [22]:
def get_descriptions(arrival, city):
    import json
    '''
    takes in a date and city and gives a json string of 
    the value counts of the weather descriptions for that month
    result json also includes dynamically changing color codes
    
    arrival: datetime as a string, 
    city: column that corresponds to the weather_description.csv
    '''
    
    df = pd.read_csv('historical-hourly-weather-data/weather_description.csv',
                     parse_dates=['datetime'], index_col='datetime')
    time_frame = df.loc[pd.date_range(arrival, periods=30, freq='D').values, :]
    weather_descriptions = time_frame[city].value_counts(ascending=False)
    #results = weather_descriptions.to_json(orient='split')
   # print(weather_descriptions.to_json(orient='split'))
    # create color codes
    color_codes= create_color_codes(weather_descriptions.index)
    final_json = {
        "name":str(weather_descriptions.name),
        "index":[x for x in weather_descriptions.index],
        "data":[int(x) for x in weather_descriptions.values],
        "color_codes": color_codes
        }
    return json.dumps(final_json)
    

    
    
descriptions = json.loads(get_descriptions('12/01/2015', 'San Francisco'))

print(descriptions)

with open('test_data/weather_descriptions.json', 'w') as outfile:
    json.dump(descriptions, outfile)

clear: sky is clear
broken clouds
clouds: broken clouds 1
overcast clouds
rgb(224,197,168)
clouds: overcast clouds 2
few clouds
rgb(254,187,158)
clouds: few clouds 3
{'name': 'San Francisco', 'index': ['sky is clear', 'mist', 'moderate rain', 'broken clouds', 'overcast clouds', 'few clouds', 'light rain', 'haze', 'light intensity shower rain'], 'data': [10, 5, 4, 3, 2, 2, 2, 1, 1], 'color_codes': ['rgb(251,237,99)', 'rgb(247,189,178)', 'rgb(40,210,219)', 'rgb(194,207,178)', 'rgb(194,207,178)', 'rgb(224,197,168)', 'rgb(194,207,178)', 'rgb(254,187,158)', 'rgb(40,210,219)', 'rgb(140,190,199)', 'rgb(197,211,119)', 'rgb(40,210,219)', 'rgb(120,170,179)']}

# Give each weather pattern a color code

Just testing things out

In [20]:
import numpy as np
unique_weather = set()

for column in df:
    unique_values = df[column].unique()
    for value in unique_values:
        unique_weather.add(value)
    
# print out pseudo json
'''
print("{")
for value in unique_weather:
    print(f'"{value}"')
print("}")
'''

print("*"*10, "value counts", "*"*10)
value_counts = {}
for column in df:
    counts = df[column].value_counts()
    print(counts)

********** value counts **********
sky is clear                    12805
light rain                       5569
overcast clouds                  4676
broken clouds                    4489
mist                             3588
few clouds                       3068
scattered clouds                 2627
light intensity shower rain      1710
moderate rain                    1643
fog                              1543
proximity shower rain             673
heavy intensity rain              554
light snow                        547
haze                              395
smoke                             190
very heavy rain                   113
light intensity drizzle           102
light shower snow                  39
heavy snow                         33
shower rain                        18
snow                               14
light intensity drizzle rain       11
heavy shower snow                   9
thunderstorm with light rain        7
thunderstorm                        7
proximity thunderstorm              6
heavy intensity shower rain         5
light rain and snow                 4
thunderstorm with heavy rain        3
drizzle                             3
light shower sleet                  2
thunderstorm with rain              2
volcanic ash                        1
ragged thunderstorm                 1
shower snow                         1
sleet                               1
dust                                1
Name: Vancouver, dtype: int64
sky is clear                    11725
light rain                       7676
overcast clouds                  5313
broken clouds                    4956
mist                             4181
few clouds                       3672
scattered clouds                 2784
moderate rain                    2464
heavy intensity rain              816
fog                               774
haze                              334
smoke                             322
light snow                         64
snow                               39
light intensity drizzle            38
very heavy rain                    23
proximity thunderstorm             19
dust                               16
freezing rain                      11
thunderstorm                       10
heavy snow                          9
thunderstorm with light rain        4
drizzle                             1
sleet                               1
Name: Portland, dtype: int64
sky is clear                        12654
mist                                 8074
broken clouds                        4006
few clouds                           3835
scattered clouds                     3769
light rain                           3403
haze                                 2908
overcast clouds                      2360
moderate rain                        1062
fog                                   920
smoke                                 377
heavy intensity rain                  257
light intensity drizzle               187
proximity shower rain                 173
thunderstorm                          102
proximity thunderstorm                 90
drizzle                                71
thunderstorm with light rain           51
heavy snow                             49
thunderstorm with rain                 28
thunderstorm with heavy rain           24
proximity thunderstorm with rain       13
very heavy rain                        11
heavy intensity drizzle                 9
squalls                                 9
light intensity shower rain             8
light snow                              7
shower rain                             3
Name: San Francisco, dtype: int64
sky is clear                    12801
light rain                       7162
overcast clouds                  6176
broken clouds                    4659
mist                             3686
scattered clouds                 2875
few clouds                       2115
moderate rain                    1968
light intensity drizzle          1616
fog                               716
haze                              572
heavy intensity rain              505
smoke                             175
light snow                         66
light intensity shower rain        65
proximity thunderstorm             25
very heavy rain                    18
drizzle                            16
thunderstorm                        7
heavy intensity drizzle             6
thunderstorm with light rain        6
heavy snow                          4
snow                                4
thunderstorm with rain              2
shower rain                         2
thunderstorm with heavy rain        2
light shower snow                   1
squalls                             1
heavy intensity shower rain         1
Name: Seattle, dtype: int64
sky is clear                    26136
haze                             3532
mist                             2961
broken clouds                    2565
overcast clouds                  2432
scattered clouds                 2271
light rain                       1949
few clouds                       1757
fog                               566
moderate rain                     481
smoke                             203
heavy intensity rain              127
light intensity drizzle           104
dust                               66
proximity thunderstorm             25
very heavy rain                    20
thunderstorm                       17
thunderstorm with light rain       13
shower rain                         8
drizzle                             5
proximity shower rain               4
light intensity shower rain         3
squalls                             3
thunderstorm with heavy rain        2
thunderstorm with rain              2
Name: Los Angeles, dtype: int64
sky is clear                    14829
broken clouds                    7407
scattered clouds                 4500
mist                             4152
few clouds                       4012
haze                             3319
overcast clouds                  2839
light rain                       2288
fog                               971
moderate rain                     515
light intensity drizzle           156
heavy intensity rain              127
drizzle                            54
smoke                              35
thunderstorm                       12
squalls                            10
proximity thunderstorm              9
very heavy rain                     7
thunderstorm with rain              5
thunderstorm with light rain        3
light intensity shower rain         1
shower rain                         1
Name: San Diego, dtype: int64
sky is clear                    35090
few clouds                       2607
scattered clouds                 2051
broken clouds                    1820
light rain                       1321
overcast clouds                   933
proximity thunderstorm            431
haze                              292
moderate rain                     270
light intensity drizzle           168
mist                               78
thunderstorm                       66
heavy intensity rain               50
dust                               21
squalls                            15
thunderstorm with light rain       10
light snow                          9
drizzle                             9
thunderstorm with heavy rain        6
fog                                 2
thunderstorm with rain              1
light intensity shower rain         1
heavy intensity drizzle             1
Name: Las Vegas, dtype: int64
sky is clear                    30303
few clouds                       4039
broken clouds                    3286
scattered clouds                 2994
light rain                       1462
overcast clouds                  1427
moderate rain                     600
haze                              312
mist                              154
proximity thunderstorm            136
proximity shower rain             114
heavy intensity rain              113
light intensity drizzle           102
dust                               82
thunderstorm                       54
thunderstorm with light rain       15
very heavy rain                    14
light intensity shower rain         9
proximity sand/dust whirls          7
thunderstorm with heavy rain        6
fog                                 6
heavy snow                          5
shower rain                         4
thunderstorm with rain              3
smoke                               3
drizzle                             2
Name: Phoenix, dtype: int64
sky is clear                           18344
broken clouds                           7567
few clouds                              6371
scattered clouds                        6294
overcast clouds                         2197
light rain                              2087
moderate rain                            634
light snow                               246
proximity thunderstorm                   235
proximity shower rain                    174
snow                                     154
thunderstorm                             152
mist                                     137
heavy intensity rain                     133
fog                                       82
dust                                      79
light intensity drizzle                   61
haze                                      53
thunderstorm with light rain              46
shower rain                               35
smoke                                     32
drizzle                                   31
thunderstorm with rain                    29
heavy snow                                15
light intensity shower rain               14
very heavy rain                           12
thunderstorm with heavy rain               7
shower snow                                6
proximity thunderstorm with rain           6
sand/dust whirls                           6
squalls                                    5
proximity moderate rain                    3
heavy intensity drizzle                    1
sand                                       1
proximity thunderstorm with drizzle        1
thunderstorm with drizzle                  1
sleet                                      1
Name: Albuquerque, dtype: int64
sky is clear                        16588
scattered clouds                     6273
broken clouds                        6008
few clouds                           4439
light rain                           3391
overcast clouds                      2046
mist                                 1565
light snow                            984
moderate rain                         961
haze                                  711
snow                                  426
fog                                   327
heavy intensity rain                  256
thunderstorm                          233
smoke                                 188
proximity thunderstorm                183
proximity shower rain                 144
light intensity drizzle               133
thunderstorm with light rain          105
heavy snow                            102
drizzle                                66
very heavy rain                        34
thunderstorm with rain                 31
dust                                   20
heavy intensity drizzle                 7
squalls                                 7
proximity thunderstorm with rain        7
thunderstorm with heavy rain            6
thunderstorm with light drizzle         3
light rain and snow                     3
shower rain                             2
ragged thunderstorm                     1
light intensity shower rain             1
thunderstorm with heavy drizzle         1
Name: Denver, dtype: int64
sky is clear                           18772
overcast clouds                         5591
broken clouds                           4129
light rain                              3862
scattered clouds                        3784
mist                                    2386
few clouds                              2350
haze                                    1199
moderate rain                           1130
light intensity drizzle                  600
heavy intensity rain                     595
fog                                      351
proximity thunderstorm                   196
drizzle                                   77
thunderstorm                              65
very heavy rain                           53
thunderstorm with light rain              39
thunderstorm with heavy rain              23
thunderstorm with rain                    13
squalls                                    9
light snow                                 7
proximity thunderstorm with rain           5
heavy snow                                 5
heavy intensity drizzle                    4
thunderstorm with light drizzle            2
dust                                       2
proximity thunderstorm with drizzle        1
smoke                                      1
freezing rain                              1
Name: San Antonio, dtype: int64
sky is clear                        17761
broken clouds                        5303
few clouds                           4507
scattered clouds                     3905
overcast clouds                      3876
light rain                           3662
mist                                 1930
moderate rain                        1391
haze                                  907
heavy intensity rain                  791
fog                                   234
light intensity drizzle               216
proximity thunderstorm                172
thunderstorm                          170
drizzle                               122
very heavy rain                        77
light snow                             60
snow                                   47
thunderstorm with light rain           40
thunderstorm with rain                 26
thunderstorm with heavy rain           15
heavy intensity drizzle                15
heavy snow                              6
proximity thunderstorm with rain        5
squalls                                 3
smoke                                   3
dust                                    2
thunderstorm with light drizzle         2
tornado                                 1
proximity shower rain                   1
thunderstorm with heavy drizzle         1
thunderstorm with drizzle               1
Name: Dallas, dtype: int64
sky is clear                        12655
mist                                 6112
broken clouds                        5192
light rain                           4737
scattered clouds                     4235
overcast clouds                      3485
few clouds                           3317
moderate rain                        1704
haze                                 1203
heavy intensity rain                  858
fog                                   702
proximity thunderstorm                337
thunderstorm                          218
light intensity drizzle                95
proximity shower rain                  79
very heavy rain                        79
drizzle                                63
thunderstorm with light rain           53
thunderstorm with rain                 28
thunderstorm with heavy rain           26
smoke                                  19
shower rain                            14
proximity thunderstorm with rain       12
light snow                             11
proximity moderate rain                 4
thunderstorm with light drizzle         4
thunderstorm with drizzle               2
sand                                    2
heavy intensity drizzle                 2
heavy intensity shower rain             1
volcanic ash                            1
dust                                    1
squalls                                 1
Name: Houston, dtype: int64
sky is clear                    20293
overcast clouds                  4576
few clouds                       4288
light rain                       3412
broken clouds                    3349
scattered clouds                 2904
mist                             2589
moderate rain                    1232
heavy intensity rain              585
light snow                        391
haze                              337
fog                               327
proximity thunderstorm            241
snow                              123
light intensity drizzle           119
proximity shower rain             112
thunderstorm                       69
light intensity shower rain        63
thunderstorm with light rain       56
heavy snow                         54
very heavy rain                    32
shower rain                        32
smoke                              24
thunderstorm with heavy rain       12
thunderstorm with rain              9
heavy intensity shower rain         8
drizzle                             5
squalls                             5
freezing rain                       3
shower drizzle                      2
Name: Kansas City, dtype: int64
sky is clear                           14292
broken clouds                           5526
overcast clouds                         5326
scattered clouds                        4153
light rain                              3324
mist                                    2911
few clouds                              2733
light snow                              1766
moderate rain                           1441
haze                                     675
light intensity drizzle                  627
fog                                      477
drizzle                                  420
heavy intensity rain                     353
snow                                     330
heavy snow                               315
proximity thunderstorm                   295
thunderstorm                              56
proximity shower rain                     46
heavy intensity drizzle                   37
proximity thunderstorm with rain          34
thunderstorm with heavy rain              26
very heavy rain                           26
thunderstorm with light rain              20
thunderstorm with rain                    14
proximity thunderstorm with drizzle        8
light intensity shower rain                5
thunderstorm with light drizzle            5
light shower snow                          4
squalls                                    4
shower snow                                1
smoke                                      1
light rain and snow                        1
Name: Minneapolis, dtype: int64
sky is clear                        19697
overcast clouds                      4474
broken clouds                        3936
scattered clouds                     3417
light rain                           3262
mist                                 2994
few clouds                           2874
moderate rain                        1399
heavy intensity rain                  556
haze                                  490
fog                                   454
light intensity drizzle               412
light snow                            387
proximity thunderstorm                257
snow                                  127
drizzle                               118
heavy snow                            116
thunderstorm                          105
thunderstorm with light rain           67
thunderstorm with heavy rain           33
thunderstorm with rain                 31
very heavy rain                        14
heavy intensity drizzle                 7
squalls                                 6
smoke                                   6
light intensity shower rain             4
proximity thunderstorm with rain        3
freezing rain                           3
sleet                                   1
thunderstorm with light drizzle         1
shower drizzle                          1
Name: Saint Louis, dtype: int64
sky is clear                           10844
broken clouds                           7255
overcast clouds                         5412
scattered clouds                        4522

In [49]:
color_codes = {}
counter = 0
for value in unique_weather:
    try:
        if 'snow' in value:
            counter += 1
            print('snow:', value)
            color_codes['snow'] 
        elif 'storm' in value:
            counter += 1
            print('storm:', value)
        elif 'rain' in value:
            counter += 1
            print('rain:', value)
        elif 'clear' in value:
            counter += 1
            print('clear:', value)
    except:
        print('nan')
print(counter)

nan
snow: light snow
storm: ragged thunderstorm
rain: very heavy rain
rain: proximity shower rain
snow: heavy shower snow
storm: proximity thunderstorm
rain: light intensity drizzle rain
rain: freezing rain
snow: light shower snow
rain: heavy intensity shower rain
snow: rain and snow
storm: thunderstorm with rain
storm: proximity thunderstorm with rain
storm: thunderstorm with heavy drizzle
storm: heavy thunderstorm
snow: snow
rain: moderate rain
rain: ragged shower rain
rain: light intensity shower rain
snow: heavy snow
clear: sky is clear
storm: thunderstorm with light drizzle
rain: shower rain
rain: light rain
rain: proximity moderate rain
snow: light rain and snow
snow: shower snow
storm: thunderstorm
storm: proximity thunderstorm with drizzle
storm: thunderstorm with light rain
storm: thunderstorm with drizzle
storm: thunderstorm with heavy rain
rain: heavy intensity rain
33

In [65]:
# cutting down the weather descriptions to just be for 2015
df.loc[pd.date_range('1/1/2015', periods=365, freq='D').values, :].to_csv('historical-hourly-weather-data/2015_weather_descriptions.csv', encoding='utf-8')