In [1]:
import pandas as pd
import numpy as np
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [14]:


# Create Engine and Pass in MySQL Connection
#engine = create_engine("mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz")
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')
conn =  engine.connect()
query = "SELECT * FROM temperature"
df = pd.read_sql(query,conn)
print(df.head())

             datetime            van            por          sfran  \
0 2012-10-01 13:00:00         284.63         282.08         289.48
1 2012-10-01 14:00:00   284.62904131  282.083251974  289.474992813
2 2012-10-01 15:00:00  284.626997923  282.091866475  289.460618112
3 2012-10-01 16:00:00  284.624954535  282.100480976  289.446243412
4 2012-10-01 17:00:00  284.622911147  282.109095477  289.431868711

             sea             la           sand          laveg            pho  \
0          281.8         291.87         291.53         293.41          296.6
1  281.797216632  291.868185522  291.533500952  293.403141271  296.608508543
2  281.789832606  291.862844459  291.543355079  293.392177052  296.631487354
3   281.78244858  291.857503395  291.553209206  293.381212832  296.654466164
4  281.775064553  291.852162332  291.563063333  293.370248613  296.677444975

             alb   ...              nyc            mon            bos  \
0         285.12   ...           288.22         285.83         287.17
1  285.154558187   ...     288.24767617  285.834649953  287.186092094
2  285.233951595   ...    288.326939663  285.847789539   287.23167159
3  285.313345004   ...    288.406203155  285.860929124  287.277251086
4  285.392738413   ...    288.485466648  285.874068709  287.322830583

             bee            tel            eil    hai    nah    jer date_id
0         307.59         305.47         310.58  304.4  304.4  303.5       1
1         307.59         304.31  310.495769231  304.4  304.4  303.5       2
2  307.391512749  304.281841331  310.411538462  304.4  304.4  303.5       3
3  307.145199718  304.238014609  310.327307692  304.4  304.4  303.5       4
4  306.898886687  304.194187887  310.243076923  304.4  304.4  303.5       5

[5 rows x 38 columns]

In [40]:
def kelvin_to_F(kelvin):
    # convert to celcius
    cel = kelvin - 273.15
    # convert to farhenhit 
    f = (cel * 1.8) + 32 
    return round(f)

kelvin_to_F(285.154558187)

54

In [18]:
import os
import datetime as dt
print(os.getcwd())
temp = pd.read_csv('historical-hourly-weather-data/temperature.csv', parse_dates=['datetime'])

C:\Users\corey\Dropbox\uci\Project-2\Travel-Informers

# select only the cities in the US and Canada and only for years after 2014

In [30]:
temp = temp.loc[:, 'Vancouver':'Boston']

temp[temp.index > '2014']

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
datetime,,,,,,,,,,,,,,,,,,,,,
2014-01-01 01:00:00,279.7700,280.7600,286.4700,279.8200,290.4100,289.5100,282.2600,289.8200,279.6400,280.6500,...,265.030,286.0500,275.8500,296.6805,267.590,263.390,271.8700,271.7400,255.7000,266.910
2014-01-01 02:00:00,279.6400,280.4500,284.3400,279.4300,288.0900,287.2000,277.9450,287.4400,277.7100,279.8000,...,264.920,285.6200,274.5800,296.4400,267.420,263.580,271.2800,271.3900,255.2350,267.130
2014-01-01 03:00:00,279.2600,280.1200,283.0800,279.2300,286.8500,285.3900,280.8800,285.0300,276.2400,279.0200,...,264.650,285.5000,273.8800,296.3400,267.640,263.720,270.6200,270.5900,254.7700,267.070
2014-01-01 04:00:00,278.2550,279.8300,282.0100,278.8000,285.7600,284.3100,280.1600,283.9300,275.5600,278.1300,...,264.500,285.4000,273.5100,296.3400,268.150,264.130,270.2700,269.8400,254.1500,267.320
2014-01-01 05:00:00,279.0300,279.3200,281.8300,278.0800,285.2000,283.2400,279.6300,282.9600,274.7500,277.0800,...,264.550,285.1700,272.3500,296.3830,268.300,263.990,269.8000,269.2700,254.9700,267.220
2014-01-01 06:00:00,278.9500,278.6700,280.9300,277.7600,283.7800,282.4800,278.2500,281.7300,274.3400,276.2100,...,264.540,284.9700,271.9700,296.5300,268.890,263.540,269.0000,268.9000,255.1200,267.050
2014-01-01 07:00:00,277.8080,278.3000,280.4400,277.3300,283.5800,281.9300,279.0900,281.0500,273.7300,276.1200,...,264.460,285.0500,272.3400,296.4800,268.860,263.140,268.2700,268.4800,255.2700,266.360
2014-01-01 08:00:00,278.6400,278.0000,280.1600,276.9700,283.1000,281.8100,278.2200,280.7000,272.3200,276.2600,...,264.050,285.0900,272.3200,296.5000,269.200,262.720,267.5000,268.3300,256.1100,266.080
2014-01-01 09:00:00,278.3300,277.9100,279.7700,276.8000,282.3100,281.2200,277.8100,279.8600,272.0500,275.9800,...,263.720,284.8300,271.8900,296.5100,268.410,263.140,267.8300,268.1000,256.4000,265.650
2014-01-01 10:00:00,277.9500,277.7500,279.1700,276.6000,281.9900,280.9300,277.7200,279.4300,271.0400,275.2700,...,263.590,284.8000,271.9300,296.4100,268.490,262.770,268.3600,268.0200,256.5000,265.490
2014-01-01 11:00:00,277.7900,277.6300,278.5400,276.7100,282.5100,280.6800,276.9200,278.7800,271.1400,275.3000,...,263.070,284.5500,271.9500,296.6900,268.400,262.180,268.4900,267.9000,255.8100,265.260
2014-01-01 12:00:00,277.6300,277.2900,278.5900,276.2900,282.1000,280.5800,276.7200,278.6400,270.6600,275.3600,...,262.850,284.4400,272.1400,296.5300,268.310,263.000,268.4900,267.5900,256.0900,264.260
2014-01-01 13:00:00,277.5100,277.1600,278.2500,276.1000,281.6400,280.3700,276.8200,278.1400,272.1500,276.1600,...,262.180,284.5400,271.6700,296.6500,268.330,261.770,268.8700,267.6700,256.2900,264.320
2014-01-01 14:00:00,275.5600,276.9600,277.8900,276.1200,281.7600,280.0700,271.8900,277.5800,271.6800,275.8200,...,261.910,285.2700,272.5200,297.0700,268.770,261.940,269.8200,269.0000,256.3400,266.300
2014-01-01 15:00:00,277.2500,276.8500,277.6800,276.0600,280.3300,279.7800,276.6400,277.1700,273.3300,275.0200,...,262.420,286.2500,275.6100,298.2900,269.920,262.400,271.0500,270.6500,256.2500,267.620
2014-01-01 16:00:00,276.9100,276.4000,278.1000,275.9100,281.8600,281.4500,276.5900,280.4600,276.9500,273.0200,...,262.440,287.5000,278.4400,299.1100,270.860,262.280,273.2000,271.4100,256.1600,269.010
2014-01-01 17:00:00,277.5900,276.3400,280.1400,275.9800,284.8300,284.3600,281.3400,284.3500,279.2600,273.5100,...,262.350,287.8500,280.3900,299.7100,272.290,261.430,274.9400,272.2200,256.2350,269.530
2014-01-01 18:00:00,277.8700,277.1500,282.6600,276.3400,287.9900,287.5600,283.5600,286.7700,281.6100,274.3200,...,262.650,287.8500,281.4900,299.9600,273.110,260.970,275.9800,272.5200,256.3100,270.050
2014-01-01 19:00:00,278.1500,277.7700,285.2900,277.0600,289.9100,290.4700,286.6200,289.1400,283.3300,274.9900,...,262.830,288.2900,282.4300,300.1000,274.690,260.670,276.6100,273.1600,256.3900,270.200
2014-01-01 20:00:00,279.0500,278.2900,287.6400,278.1100,292.3300,292.4200,289.1800,291.3400,284.2600,275.4600,...,263.210,288.4800,282.5600,299.3500,273.140,260.540,277.0900,273.3200,256.0600,270.190
2014-01-01 21:00:00,279.3500,278.8900,288.7800,278.6700,293.5800,293.8700,289.7100,292.1400,284.5500,275.6900,...,263.230,288.0600,282.3700,299.2400,273.260,260.250,276.8400,273.3200,255.2500,270.070
2014-01-01 22:00:00,279.8200,279.7600,289.4800,278.9200,293.3100,294.1400,290.2400,292.8800,284.0700,275.3300,...,263.200,288.0800,281.3800,299.1000,272.200,258.860,275.9800,272.8300,254.2400,269.280
2014-01-01 23:00:00,279.3600,280.3800,289.5700,279.0200,294.2500,294.7600,287.9655,293.3700,283.7500,273.7100,...,263.120,287.7900,279.9000,298.3400,271.430,258.210,275.2100,272.5800,253.1500,268.180
2014-01-02 00:00:00,279.3900,279.6500,289.1500,278.8400,293.9000,293.0900,287.3800,292.5400,282.2400,271.0200,...,263.160,287.7000,278.2600,297.0900,271.210,258.710,274.2600,272.1100,267.6715,267.540
2014-01-02 01:00:00,279.1700,279.1600,287.1900,278.6300,291.5200,290.4900,286.1000,289.5700,281.1000,270.2200,...,263.240,287.8000,277.3500,296.6800,271.000,258.100,273.8100,271.9200,282.1930,266.830
2014-01-02 02:00:00,278.8000,278.5100,284.5100,278.4300,288.2600,287.3500,284.8900,285.7600,279.2600,269.3500,...,263.260,287.9000,276.3200,296.2700,271.150,258.700,272.7300,271.8700,282.1930,266.110
2014-01-02 03:00:00,282.0715,283.8265,289.0035,283.0865,294.6865,292.6065,290.2390,292.7615,284.4115,275.4465,...,273.939,291.7465,283.6915,298.2940,277.609,271.134,278.3865,278.3315,282.1930,275.289
2014-01-02 04:00:00,285.3430,289.1430,293.4970,287.7430,301.1130,297.8630,295.5880,299.7630,289.5630,281.5430,...,284.618,295.5930,291.0630,300.3180,284.068,283.568,284.0430,284.7930,282.1930,284.468
2014-01-02 05:00:00,278.6900,289.1430,293.4970,287.7430,301.1130,297.8630,295.5880,299.7630,274.7200,281.5430,...,284.618,287.7600,291.0630,296.1700,284.068,257.590,284.0430,272.1000,282.1930,284.468
2014-01-02 06:00:00,278.6550,276.3200,282.2800,277.9900,286.6100,284.4900,282.3800,282.2000,273.6200,267.7700,...,263.880,287.9350,275.7400,296.0150,270.520,257.505,272.2900,272.1350,282.1930,267.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-28 19:00:00,NaN,280.4000,NaN,279.7500,292.4600,289.8400,288.1500,291.8200,285.4600,278.0200,...,290.480,297.0000,289.6900,NaN,290.300,287.570,287.8100,NaN,272.7500,277.070
2017-11-28 20:00:00,NaN,280.1500,NaN,279.8500,294.7400,291.6900,289.3400,293.4800,286.4100,278.5500,...,290.920,297.3100,290.2300,NaN,290.710,288.190,287.8700,NaN,273.7500,277.910
2017-11-28 21:00:00,NaN,280.4000,NaN,280.1500,295.9700,291.7600,289.7500,294.3700,286.4800,279.6400,...,290.930,297.1600,290.2500,NaN,290.150,288.380,287.0600,NaN,274.0500,277.850
2017-11-28 22:00:00,NaN,280.4100,NaN,280.1500,296.7400,292.0800,289.4700,295.1500,286.4300,280.1500,...,289.960,296.4800,289.1600,NaN,290.150,287.590,287.0700,NaN,274.0500,277.150
2017-11-28 23:00:00,NaN,280.1500,NaN,279.1500,289.1570,290.0820,283.4820,295.1500,286.1500,277.0800,...,289.820,297.1500,288.3900,NaN,282.007,283.257,284.6200,NaN,279.0570,277.150
2017-11-29 00:00:00,NaN,280.6500,NaN,279.1500,295.4800,291.0100,289.4800,295.5900,283.8700,279.0400,...,287.820,294.5500,283.5600,NaN,284.570,286.380,283.0700,NaN,274.7300,275.650
2017-11-29 01:00:00,NaN,280.0300,NaN,279.2600,293.7600,290.4000,288.1500,295.1500,281.1100,276.2600,...,288.150,293.1600,281.9700,NaN,283.590,285.790,282.4000,NaN,275.0300,276.070
2017-11-29 02:00:00,NaN,280.1600,NaN,278.9400,292.4700,289.8400,286.5100,293.0200,279.8200,274.2600,...,288.360,292.3600,281.8900,NaN,284.440,286.370,281.7800,NaN,274.3500,276.890
2017-11-29 03:00:00,NaN,279.7700,NaN,278.8500,291.2100,288.4300,285.4800,290.4800,278.5800,273.7100,...,287.580,291.7500,281.2200,NaN,284.510,286.790,281.5100,NaN,275.0000,278.070
2017-11-29 04:00:00,NaN,279.9000,NaN,278.6400,290.4200,287.7600,283.4200,289.1500,276.7900,273.6000,...,286.810,291.8200,281.1300,NaN,283.160,285.900,281.1600,NaN,275.7000,279.140
2017-11-29 05:00:00,NaN,279.6500,NaN,278.8400,289.3400,287.1400,283.0900,288.2700,276.5300,273.5900,...,286.030,291.0100,281.7100,NaN,283.960,285.650,280.9900,NaN,276.3800,279.810
2017-11-29 06:00:00,NaN,279.0300,NaN,278.7400,289.0700,286.6400,282.5800,287.9800,275.4800,273.2500,...,284.700,291.2100,281.7200,NaN,284.540,284.660,280.7400,NaN,275.7200,281.320
2017-11-29 07:00:00,NaN,279.0300,NaN,278.5600,288.4200,286.6000,282.4200,286.6400,274.5000,273.0600,...,283.040,290.6100,282.0500,NaN,284.730,283.900,280.9700,NaN,275.7700,282.230
2017-11-29 08:00:00,NaN,278.5200,NaN,278.9200,287.2200,286.4900,282.0200,286.6800,274.5600,272.8700,...,281.590,290.4300,281.4200,NaN,284.470,281.900,280.5600,NaN,275.3800,282.540
2017-11-29 09:00:00,NaN,278.4200,NaN,279.0500,286.5500,286.6400,281.7100,287.0100,272.8700,272.7600,...,280.340,290.2100,280.7800,NaN,284.310,281.410,280.3200,NaN,277.4500,283.080
2017-11-29 10:00:00,NaN,277.7800,NaN,278.9200,286.2200,286.4300,283.3500,286.6700,272.1700,271.9600,...,279.850,290.2100,279.4800,NaN,284.150,280.150,279.4000,NaN,278.7700,283.660
2017-11-29 11:00:00,NaN,278.4000,NaN,278.2600,285.2200,285.7800,283.1200,286.6800,271.8800,271.5600,...,279.150,289.7800,278.1400,NaN,284.150,279.410,279.0600,NaN,278.4800,283.980
2017-11-29 12:00:00,NaN,278.5400,NaN,278.5400,284.5500,285.6800,281.5500,286.0100,270.8700,271.5600,...,277.640,289.3200,277.5600,NaN,283.300,278.660,278.4800,NaN,277.4500,283.530
2017-11-29 13:00:00,NaN,278.6600,NaN,278.0500,284.2200,285.0600,281.5600,285.9500,269.1700,272.0600,...,276.370,289.9600,277.8100,NaN,282.580,278.760,279.7700,NaN,276.1600,283.990
2017-11-29 14:00:00,NaN,278.5400,NaN,277.9600,283.6300,285.5200,280.5600,286.0400,271.1700,273.3700,...,276.360,290.9500,282.1200,NaN,282.850,278.770,282.5100,NaN,276.4800,284.240
2017-11-29 15:00:00,NaN,278.4000,NaN,278.2300,283.2100,285.2800,281.5500,286.0400,271.2700,273.7700,...,278.240,292.5500,286.3800,NaN,283.420,278.760,285.3300,NaN,277.4500,284.650
2017-11-29 16:00:00,NaN,278.6500,NaN,278.6600,282.9300,285.7500,280.9700,286.6400,275.3600,275.0700,...,279.700,294.6500,289.7800,NaN,284.710,278.570,287.5000,NaN,278.1300,285.480
2017-11-29 17:00:00,NaN,279.2700,NaN,278.2400,285.6400,287.6000,282.9600,288.3900,278.6400,276.7600,...,280.590,296.3000,291.6900,NaN,285.150,278.370,289.4700,NaN,277.7000,286.910
2017-11-29 18:00:00,NaN,280.4400,NaN,278.5300,289.0200,289.6400,285.3500,290.9200,280.9100,283.1600,...,280.740,296.9700,293.1500,NaN,285.430,278.740,290.0700,NaN,276.1500,288.650
2017-11-29 19:00:00,NaN,281.5200,NaN,280.0300,292.0300,290.9300,287.5200,293.1500,283.2100,286.7200,...,281.050,297.3200,293.8900,NaN,285.580,278.940,290.1500,NaN,276.4500,289.160
2017-11-29 20:00:00,NaN,282.0000,NaN,280.8200,293.5500,292.1500,289.5400,294.7100,285.7200,289.5600,...,281.250,296.9200,294.1500,NaN,285.300,278.740,290.2400,NaN,275.1300,288.080
2017-11-29 21:00:00,NaN,282.8900,NaN,281.6500,295.6800,292.7400,290.6100,295.5900,286.4500,290.7000,...,281.050,296.9200,293.9000,NaN,285.330,278.750,289.2400,NaN,274.1300,286.020
2017-11-29 22:00:00,NaN,283.3900,NaN,282.7500,295.9600,292.5800,291.3400,296.2500,286.4400,289.7100,...,280.170,296.3300,292.0600,NaN,282.910,277.550,286.7800,NaN,273.4800,283.940
2017-11-29 23:00:00,NaN,283.0200,NaN,282.9600,295.6500,292.6100,292.1500,297.1500,286.1400,289.1700,...,278.060,294.9500,287.5800,NaN,280.140,276.160,284.5700,NaN,272.4800,282.170
2017-11-30 00:00:00,NaN,282.2800,NaN,283.0400,294.9300,291.4000,291.6400,297.1500,284.7000,285.1800,...,276.590,293.1500,285.6100,NaN,279.190,274.510,283.4200,NaN,271.8000,280.650

In [32]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45253 entries, 2012-10-01 12:00:00 to 2017-11-30 00:00:00
Freq: H
Data columns (total 30 columns):
Vancouver        44458 non-null float64
Portland         45252 non-null float64
San Francisco    44460 non-null float64
Seattle          45250 non-null float64
Los Angeles      45250 non-null float64
San Diego        45252 non-null float64
Las Vegas        45252 non-null float64
Phoenix          45250 non-null float64
Albuquerque      45252 non-null float64
Denver           45252 non-null float64
San Antonio      45252 non-null float64
Dallas           45249 non-null float64
Houston          45250 non-null float64
Kansas City      45252 non-null float64
Minneapolis      45240 non-null float64
Saint Louis      45252 non-null float64
Chicago          45250 non-null float64
Nashville        45251 non-null float64
Indianapolis     45246 non-null float64
Atlanta          45247 non-null float64
Detroit          45252 non-null float64
Jacksonville     45252 non-null float64
Charlotte        45250 non-null float64
Miami            44448 non-null float64
Pittsburgh       45250 non-null float64
Toronto          45252 non-null float64
Philadelphia     45250 non-null float64
New York         44460 non-null float64
Montreal         45250 non-null float64
Boston           45250 non-null float64
dtypes: float64(30)
memory usage: 10.7 MB

In [47]:
# convert to f
temp_clean = temp.apply(lambda x: kelvin_to_F(x)).dropna().astype('int')
temp_clean.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,53,48,61,48,66,65,68,74,54,53,...,52,77,60,80,46,56,54,59,55,57
2012-10-01 14:00:00,53,48,61,48,66,65,68,74,54,53,...,52,77,60,80,46,56,55,59,55,57
2012-10-01 15:00:00,53,48,61,48,66,65,68,74,54,53,...,52,77,60,80,46,56,55,59,55,57
2012-10-01 16:00:00,53,48,61,48,66,65,68,74,54,53,...,52,77,60,80,46,56,55,59,55,57
2012-10-01 17:00:00,53,48,61,48,66,65,68,74,54,53,...,52,78,60,80,47,56,55,60,55,58

In [45]:
np.shape(temp_clean.resample('D').mean())

(1854, 30)

## Using Resample to get daily averages, max, and min

In [50]:
temp_clean.resample("D").mean().round(decimals=2).to_csv('historical-hourly-weather-data/daily_avg_temps.csv', encoding='utf-8')

In [46]:
temp_clean.resample("M").mean().to_csv('historical-hourly-weather-data/monthly_avg_temps.csv', encoding='utf-8')
temp_clean.resample("D").min().to_csv('historical-hourly-weather-data/daily_min_temps.csv', encoding='utf-8')
temp_clean.resample("D").max().to_csv('historical-hourly-weather-data/daily_max_temps.csv', encoding='utf-8')

## Do the same with Humidity and Wind Speed but with functions

In [54]:
def clean_weather(df):
    cities = df.loc[:, 'Vancouver':'Boston']
    years = df[df.index > '2014']

    temp_clean = years.apply(lambda x: kelvin_to_F(x)).dropna()
    daily_avg = temp_clean.resample("D").mean().round(decimals=2)
    daily_min = temp_clean.resample("D").min()
    daily_max = temp_clean.resample("D").max()
    return daily_avg, daily_min, daily_max

In [56]:
humidity = pd.read_csv('historical-hourly-weather-data/humidity.csv', parse_dates=['datetime'], index_col='datetime')

In [57]:
hum_daily_avg, hum_daily_min, hum_daily_max = clean_weather(humidity)

In [58]:
hum_daily_avg.to_csv("historical-hourly-weather-data/humidity_daily_avg.csv", encoding='utf-8')
hum_daily_max.to_csv("historical-hourly-weather-data/humidity_daily_max.csv", encoding='utf-8')
hum_daily_min.to_csv("historical-hourly-weather-data/humidity_daily_min.csv", encoding='utf-8')

In [59]:
wind = pd.read_csv('historical-hourly-weather-data/wind_speed.csv', parse_dates=['datetime'], index_col='datetime')

In [60]:
wind_daily_avg, wind_daily_min, wind_daily_max = clean_weather(wind)

In [61]:
wind_daily_avg.to_csv("historical-hourly-weather-data/wind_daily_avg.csv", encoding='utf-8')
wind_daily_max.to_csv("historical-hourly-weather-data/wind_daily_max.csv", encoding='utf-8')
wind_daily_min.to_csv("historical-hourly-weather-data/wind_daily_min.csv", encoding='utf-8')