In [5]:
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import pymysql
pymysql.install_as_MySQLdb()

In [6]:
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

In [8]:
Base.classes.keys()

['city_attributes',
 'daily_2015_avg_wind',
 'daily_2015_max_wind',
 'daily_avg_temps',
 'daily_max_temps',
 'daily_min_temps']

In [ ]:
Avg_wind = Base.classes.daily_2015_avg_wind
Max_wind = Base.classes.daily_2015_max_wind
Avg_temp = Base.classes.daily_avg_temps
Max_temp = Base.classes.daily_max_temps
Min_temp = Base.classes.daily_min_temps

In [9]:
#Humidity = Base.classes.humidity
City_attributes = Base.classes.city_attributes

In [6]:
first_row = session.query(Daily_avg_temps).first()
first_row.__dict__

{'Albuquerque': Decimal('15.4300000000'),
 'Atlanta': Decimal('37.3000000000'),
 'Boston': Decimal('25.9600000000'),
 'Charlotte': Decimal('33.1700000000'),
 'Chicago': Decimal('22.8300000000'),
 'Dallas': Decimal('34.0900000000'),
 'Denver': Decimal('6.6100000000'),
 'Detroit': Decimal('20.1700000000'),
 'Houston': Decimal('43.0400000000'),
 'Indianapolis': Decimal('21.0000000000'),
 'Jacksonville': Decimal('56.4300000000'),
 'Kansas City': Decimal('20.7000000000'),
 'Las Vegas': Decimal('30.9100000000'),
 'Los Angeles': Decimal('34.3900000000'),
 'Miami': Decimal('74.7400000000'),
 'Minneapolis': Decimal('15.0000000000'),
 'Montreal': Decimal('19.4800000000'),
 'Nashville': Decimal('26.3000000000'),
 'New York': Decimal('24.5200000000'),
 'Philadelphia': Decimal('25.4800000000'),
 'Phoenix': Decimal('31.5200000000'),
 'Pittsburgh': Decimal('24.8700000000'),
 'Portland': Decimal('22.1700000000'),
 'Saint Louis': Decimal('23.2600000000'),
 'San Antonio': Decimal('38.7000000000'),
 'San Diego': Decimal('31.9600000000'),
 'San Francisco': Decimal('47.1300000000'),
 'Seattle': Decimal('28.0900000000'),
 'Toronto': Decimal('23.3500000000'),
 'Vancouver': Decimal('32.9600000000'),
 '_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1767eaed668>,
 'datetime': datetime.datetime(2015, 1, 1, 0, 0),
 'id': 1}

In [8]:
first_row = session.query(Humidity).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x275bfeefda0>,
 'alb': '50',
 'atl': '94',
 'bee': '50',
 'bos': '68',
 'char': '87',
 'chi': '71',
 'dal': '87',
 'date_id': 1,
 'datetime': datetime.datetime(2012, 10, 1, 13, 0),
 'den': '62',
 'det': '76',
 'eil': '22',
 'hai': '51',
 'hou': '93',
 'ind': '76',
 'jac': '88',
 'jer': '50',
 'ksc': '71',
 'la': '88',
 'laveg': '22',
 'mai': '83',
 'min': '67',
 'mon': '93',
 'nah': '51',
 'nash': '100',
 'nyc': '58',
 'phi': '71',
 'pho': '23',
 'pit': '93',
 'por': '81',
 'sand': '82',
 'sant': '93',
 'sea': '81',
 'sfran': '88',
 'stlo': '71',
 'tel': '63',
 'tor': '82',
 'van': '76'}

In [14]:
first_row = session.query(City_attributes).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2943c85c1d0>,
 'abbr': 'van',
 'city': 'Vancouver',
 'city_id': 1,
 'country': 'Canada',
 'latitude': Decimal('49.2496600000'),
 'longitude': Decimal('-123.1193390000')}

In [26]:
city_list = []
for row in session.query(City_attributes.city, City_attributes.country, City_attributes.abbr, City_attributes.latitude, City_attributes.longitude).all():
    city_list.append({
        "city_name": row[0],
        "country": row[1],
        "city_abbr": row[2],
        "lat": row[3],
        "lon": row[4]
    })
    print(row)

('Vancouver', 'Canada', 'van', Decimal('49.2496600000'), Decimal('-123.1193390000'))
('Portland', 'United States', 'por', Decimal('45.5234490000'), Decimal('-122.6762080000'))
('San Francisco', 'United States', 'sfran', Decimal('37.7749290000'), Decimal('-122.4194180000'))
('Seattle', 'United States', 'sea', Decimal('47.6062090000'), Decimal('-122.3320690000'))
('Los Angeles', 'United States', 'la', Decimal('34.0522310000'), Decimal('-118.2436830000'))
('San Diego', 'United States', 'sand', Decimal('32.7153280000'), Decimal('-117.1572570000'))
('Las Vegas', 'United States', 'laveg', Decimal('36.1749690000'), Decimal('-115.1372220000'))
('Phoenix', 'United States', 'pho', Decimal('33.4483800000'), Decimal('-112.0740430000'))
('Albuquerque', 'United States', 'alb', Decimal('35.0844920000'), Decimal('-106.6511380000'))
('Denver', 'United States', 'den', Decimal('39.7391510000'), Decimal('-104.9847030000'))
('SanAntonio', 'United States', 'sant', Decimal('29.4241200000'), Decimal('-98.4936290000'))
('Dallas', 'United States', 'dal', Decimal('32.7830580000'), Decimal('-96.8066710000'))
('Houston', 'United States', 'hou', Decimal('29.7632810000'), Decimal('-95.3632740000'))
('Kansas City', 'United States', 'ksc', Decimal('39.0997310000'), Decimal('-94.5785680000'))
('Minneapolis', 'United States', 'min', Decimal('44.9799690000'), Decimal('-93.2638400000'))
('Saint Louis', 'United States', 'stlo', Decimal('38.6272700000'), Decimal('-90.1978910000'))
('Chicago', 'United States', 'chi', Decimal('41.8500290000'), Decimal('-87.6500470000'))
('Nashville', 'United States', 'nash', Decimal('36.1658900000'), Decimal('-86.7844390000'))
('Indianapolis', 'United States', 'ind', Decimal('39.7683790000'), Decimal('-86.1580430000'))
('Atlanta', 'United States', 'atl', Decimal('33.7490010000'), Decimal('-84.3879780000'))
('Detroit', 'United States', 'det', Decimal('42.3314290000'), Decimal('-83.0457530000'))
('Jacksonville', 'United States', 'jac', Decimal('30.3321800000'), Decimal('-81.6556470000'))
('Charlotte', 'United States', 'char', Decimal('35.2270890000'), Decimal('-80.8431320000'))
('Miami', 'United States', 'mai', Decimal('25.7742690000'), Decimal('-80.1936570000'))
('Pittsburgh', 'United States', 'pit', Decimal('40.4406200000'), Decimal('-79.9958880000'))
('Toronto', 'Canada', 'tor', Decimal('43.7001110000'), Decimal('-79.4162980000'))
('Philadelphia', 'United States', 'phi', Decimal('39.9523390000'), Decimal('-75.1637880000'))
('New York', 'United States', 'nyc', Decimal('40.7142720000'), Decimal('-74.0059660000'))
('Montreal', 'Canada', 'mon', Decimal('45.5088390000'), Decimal('-73.5878070000'))
('Boston', 'United States', 'bos', Decimal('42.3584290000'), Decimal('-71.0597690000'))
('Beersheba', 'Israel', 'bee', Decimal('31.2518100000'), Decimal('34.7913020000'))
('Tel Aviv', 'Israel', 'tel', Decimal('32.0833280000'), Decimal('34.7999990000'))
('Eilat', 'Israel', 'eil', Decimal('29.5580500000'), Decimal('34.9482120000'))
('Haifa', 'Israel', 'hai', Decimal('32.8155590000'), Decimal('34.9891700000'))
('Nahariyya', 'Israel', 'nah', Decimal('33.0058590000'), Decimal('35.0940900000'))
('Jerusalem', 'Israel', 'jer', Decimal('31.7690390000'), Decimal('35.2163310000'))

In [39]:
city_list
for city in city_list:
    print("(", city['lat'], ",", city['lon'], ")")
for city in city_list:
    print("city:", city['city_name'], "country:", city['country'])

( 49.2496600000 , -123.1193390000 )
( 45.5234490000 , -122.6762080000 )
( 37.7749290000 , -122.4194180000 )
( 47.6062090000 , -122.3320690000 )
( 34.0522310000 , -118.2436830000 )
( 32.7153280000 , -117.1572570000 )
( 36.1749690000 , -115.1372220000 )
( 33.4483800000 , -112.0740430000 )
( 35.0844920000 , -106.6511380000 )
( 39.7391510000 , -104.9847030000 )
( 29.4241200000 , -98.4936290000 )
( 32.7830580000 , -96.8066710000 )
( 29.7632810000 , -95.3632740000 )
( 39.0997310000 , -94.5785680000 )
( 44.9799690000 , -93.2638400000 )
( 38.6272700000 , -90.1978910000 )
( 41.8500290000 , -87.6500470000 )
( 36.1658900000 , -86.7844390000 )
( 39.7683790000 , -86.1580430000 )
( 33.7490010000 , -84.3879780000 )
( 42.3314290000 , -83.0457530000 )
( 30.3321800000 , -81.6556470000 )
( 35.2270890000 , -80.8431320000 )
( 25.7742690000 , -80.1936570000 )
( 40.4406200000 , -79.9958880000 )
( 43.7001110000 , -79.4162980000 )
( 39.9523390000 , -75.1637880000 )
( 40.7142720000 , -74.0059660000 )
( 45.5088390000 , -73.5878070000 )
( 42.3584290000 , -71.0597690000 )
( 31.2518100000 , 34.7913020000 )
( 32.0833280000 , 34.7999990000 )
( 29.5580500000 , 34.9482120000 )
( 32.8155590000 , 34.9891700000 )
( 33.0058590000 , 35.0940900000 )
( 31.7690390000 , 35.2163310000 )
city: Vancouver country: Canada
city: Portland country: United States
city: San Francisco country: United States
city: Seattle country: United States
city: Los Angeles country: United States
city: San Diego country: United States
city: Las Vegas country: United States
city: Phoenix country: United States
city: Albuquerque country: United States
city: Denver country: United States
city: SanAntonio country: United States
city: Dallas country: United States
city: Houston country: United States
city: Kansas City country: United States
city: Minneapolis country: United States
city: Saint Louis country: United States
city: Chicago country: United States
city: Nashville country: United States
city: Indianapolis country: United States
city: Atlanta country: United States
city: Detroit country: United States
city: Jacksonville country: United States
city: Charlotte country: United States
city: Miami country: United States
city: Pittsburgh country: United States
city: Toronto country: Canada
city: Philadelphia country: United States
city: New York country: United States
city: Montreal country: Canada
city: Boston country: United States
city: Beersheba country: Israel
city: Tel Aviv country: Israel
city: Eilat country: Israel
city: Haifa country: Israel
city: Nahariyya country: Israel
city: Jerusalem country: Israel

In [33]:
from citytest import citydata

In [35]:
citydata()

[{'city_abbr': 'van',
  'city_name': 'Vancouver',
  'country': 'Canada',
  'lat': Decimal('49.2496600000'),
  'lon': Decimal('-123.1193390000')},
 {'city_abbr': 'por',
  'city_name': 'Portland',
  'country': 'United States',
  'lat': Decimal('45.5234490000'),
  'lon': Decimal('-122.6762080000')},
 {'city_abbr': 'sfran',
  'city_name': 'San Francisco',
  'country': 'United States',
  'lat': Decimal('37.7749290000'),
  'lon': Decimal('-122.4194180000')},
 {'city_abbr': 'sea',
  'city_name': 'Seattle',
  'country': 'United States',
  'lat': Decimal('47.6062090000'),
  'lon': Decimal('-122.3320690000')},
 {'city_abbr': 'la',
  'city_name': 'Los Angeles',
  'country': 'United States',
  'lat': Decimal('34.0522310000'),
  'lon': Decimal('-118.2436830000')},
 {'city_abbr': 'sand',
  'city_name': 'San Diego',
  'country': 'United States',
  'lat': Decimal('32.7153280000'),
  'lon': Decimal('-117.1572570000')},
 {'city_abbr': 'laveg',
  'city_name': 'Las Vegas',
  'country': 'United States',
  'lat': Decimal('36.1749690000'),
  'lon': Decimal('-115.1372220000')},
 {'city_abbr': 'pho',
  'city_name': 'Phoenix',
  'country': 'United States',
  'lat': Decimal('33.4483800000'),
  'lon': Decimal('-112.0740430000')},
 {'city_abbr': 'alb',
  'city_name': 'Albuquerque',
  'country': 'United States',
  'lat': Decimal('35.0844920000'),
  'lon': Decimal('-106.6511380000')},
 {'city_abbr': 'den',
  'city_name': 'Denver',
  'country': 'United States',
  'lat': Decimal('39.7391510000'),
  'lon': Decimal('-104.9847030000')},
 {'city_abbr': 'sant',
  'city_name': 'SanAntonio',
  'country': 'United States',
  'lat': Decimal('29.4241200000'),
  'lon': Decimal('-98.4936290000')},
 {'city_abbr': 'dal',
  'city_name': 'Dallas',
  'country': 'United States',
  'lat': Decimal('32.7830580000'),
  'lon': Decimal('-96.8066710000')},
 {'city_abbr': 'hou',
  'city_name': 'Houston',
  'country': 'United States',
  'lat': Decimal('29.7632810000'),
  'lon': Decimal('-95.3632740000')},
 {'city_abbr': 'ksc',
  'city_name': 'Kansas City',
  'country': 'United States',
  'lat': Decimal('39.0997310000'),
  'lon': Decimal('-94.5785680000')},
 {'city_abbr': 'min',
  'city_name': 'Minneapolis',
  'country': 'United States',
  'lat': Decimal('44.9799690000'),
  'lon': Decimal('-93.2638400000')},
 {'city_abbr': 'stlo',
  'city_name': 'Saint Louis',
  'country': 'United States',
  'lat': Decimal('38.6272700000'),
  'lon': Decimal('-90.1978910000')},
 {'city_abbr': 'chi',
  'city_name': 'Chicago',
  'country': 'United States',
  'lat': Decimal('41.8500290000'),
  'lon': Decimal('-87.6500470000')},
 {'city_abbr': 'nash',
  'city_name': 'Nashville',
  'country': 'United States',
  'lat': Decimal('36.1658900000'),
  'lon': Decimal('-86.7844390000')},
 {'city_abbr': 'ind',
  'city_name': 'Indianapolis',
  'country': 'United States',
  'lat': Decimal('39.7683790000'),
  'lon': Decimal('-86.1580430000')},
 {'city_abbr': 'atl',
  'city_name': 'Atlanta',
  'country': 'United States',
  'lat': Decimal('33.7490010000'),
  'lon': Decimal('-84.3879780000')},
 {'city_abbr': 'det',
  'city_name': 'Detroit',
  'country': 'United States',
  'lat': Decimal('42.3314290000'),
  'lon': Decimal('-83.0457530000')},
 {'city_abbr': 'jac',
  'city_name': 'Jacksonville',
  'country': 'United States',
  'lat': Decimal('30.3321800000'),
  'lon': Decimal('-81.6556470000')},
 {'city_abbr': 'char',
  'city_name': 'Charlotte',
  'country': 'United States',
  'lat': Decimal('35.2270890000'),
  'lon': Decimal('-80.8431320000')},
 {'city_abbr': 'mai',
  'city_name': 'Miami',
  'country': 'United States',
  'lat': Decimal('25.7742690000'),
  'lon': Decimal('-80.1936570000')},
 {'city_abbr': 'pit',
  'city_name': 'Pittsburgh',
  'country': 'United States',
  'lat': Decimal('40.4406200000'),
  'lon': Decimal('-79.9958880000')},
 {'city_abbr': 'tor',
  'city_name': 'Toronto',
  'country': 'Canada',
  'lat': Decimal('43.7001110000'),
  'lon': Decimal('-79.4162980000')},
 {'city_abbr': 'phi',
  'city_name': 'Philadelphia',
  'country': 'United States',
  'lat': Decimal('39.9523390000'),
  'lon': Decimal('-75.1637880000')},
 {'city_abbr': 'nyc',
  'city_name': 'New York',
  'country': 'United States',
  'lat': Decimal('40.7142720000'),
  'lon': Decimal('-74.0059660000')},
 {'city_abbr': 'mon',
  'city_name': 'Montreal',
  'country': 'Canada',
  'lat': Decimal('45.5088390000'),
  'lon': Decimal('-73.5878070000')},
 {'city_abbr': 'bos',
  'city_name': 'Boston',
  'country': 'United States',
  'lat': Decimal('42.3584290000'),
  'lon': Decimal('-71.0597690000')},
 {'city_abbr': 'bee',
  'city_name': 'Beersheba',
  'country': 'Israel',
  'lat': Decimal('31.2518100000'),
  'lon': Decimal('34.7913020000')},
 {'city_abbr': 'tel',
  'city_name': 'Tel Aviv',
  'country': 'Israel',
  'lat': Decimal('32.0833280000'),
  'lon': Decimal('34.7999990000')},
 {'city_abbr': 'eil',
  'city_name': 'Eilat',
  'country': 'Israel',
  'lat': Decimal('29.5580500000'),
  'lon': Decimal('34.9482120000')},
 {'city_abbr': 'hai',
  'city_name': 'Haifa',
  'country': 'Israel',
  'lat': Decimal('32.8155590000'),
  'lon': Decimal('34.9891700000')},
 {'city_abbr': 'nah',
  'city_name': 'Nahariyya',
  'country': 'Israel',
  'lat': Decimal('33.0058590000'),
  'lon': Decimal('35.0940900000')},
 {'city_abbr': 'jer',
  'city_name': 'Jerusalem',
  'country': 'Israel',
  'lat': Decimal('31.7690390000'),
  'lon': Decimal('35.2163310000')}]

In [13]:
for row in session.query(City_attributes.city).all():
    print(row[0])

Vancouver
Portland
San Francisco
Seattle
Los Angeles
San Diego
Las Vegas
Phoenix
Albuquerque
Denver
SanAntonio
Dallas
Houston
Kansas City
Minneapolis
Saint Louis
Chicago
Nashville
Indianapolis
Atlanta
Detroit
Jacksonville
Charlotte
Miami
Pittsburgh
Toronto
Philadelphia
New York
Montreal
Boston
Beersheba
Tel Aviv
Eilat
Haifa
Nahariyya
Jerusalem

In [43]:
session.close()

In [31]:
from sqls import city_data

In [32]:
cities = city_data()

In [33]:
city_list = []
for city in cities:
    if (city['country'] == 'United States'):
        city_list.append(city['city_name'])

In [34]:
city_list

['Portland',
 'San Francisco',
 'Seattle',
 'Los Angeles',
 'San Diego',
 'Las Vegas',
 'Phoenix',
 'Albuquerque',
 'Denver',
 'SanAntonio',
 'Dallas',
 'Houston',
 'Kansas City',
 'Minneapolis',
 'Saint Louis',
 'Chicago',
 'Nashville',
 'Indianapolis',
 'Atlanta',
 'Detroit',
 'Jacksonville',
 'Charlotte',
 'Miami',
 'Pittsburgh',
 'Philadelphia',
 'New York',
 'Boston']