In [1]:
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import pymysql
pymysql.install_as_MySQLdb()

In [9]:
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')

In [10]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

In [11]:
Base.classes.keys()

['city_attributes', 'humidity', 'temperature']

In [13]:
Humidity = Base.classes.humidity
Temperature = Base.classes.temperature
City_attributes = Base.classes.city_attributes

In [7]:
first_row = session.query(Temperature).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x275bfee9c50>,
 'alb': '285.12',
 'atl': '294.03',
 'bee': '307.59',
 'bos': '287.17',
 'char': '288.65',
 'chi': '284.01',
 'dal': '289.74',
 'date_id': 1,
 'datetime': datetime.datetime(2012, 10, 1, 13, 0),
 'den': '284.61',
 'det': '284.03',
 'eil': '310.58',
 'hai': '304.4',
 'hou': '288.27',
 'ind': '283.85',
 'jac': '298.17',
 'jer': '303.5',
 'ksc': '289.98',
 'la': '291.87',
 'laveg': '293.41',
 'mai': '299.72',
 'min': '286.87',
 'mon': '285.83',
 'nah': '304.4',
 'nash': '287.41',
 'nyc': '288.22',
 'phi': '285.63',
 'pho': '296.6',
 'pit': '281',
 'por': '282.08',
 'sand': '291.53',
 'sant': '289.29',
 'sea': '281.8',
 'sfran': '289.48',
 'stlo': '286.18',
 'tel': '305.47',
 'tor': '286.26',
 'van': '284.63'}

In [8]:
first_row = session.query(Humidity).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x275bfeefda0>,
 'alb': '50',
 'atl': '94',
 'bee': '50',
 'bos': '68',
 'char': '87',
 'chi': '71',
 'dal': '87',
 'date_id': 1,
 'datetime': datetime.datetime(2012, 10, 1, 13, 0),
 'den': '62',
 'det': '76',
 'eil': '22',
 'hai': '51',
 'hou': '93',
 'ind': '76',
 'jac': '88',
 'jer': '50',
 'ksc': '71',
 'la': '88',
 'laveg': '22',
 'mai': '83',
 'min': '67',
 'mon': '93',
 'nah': '51',
 'nash': '100',
 'nyc': '58',
 'phi': '71',
 'pho': '23',
 'pit': '93',
 'por': '81',
 'sand': '82',
 'sant': '93',
 'sea': '81',
 'sfran': '88',
 'stlo': '71',
 'tel': '63',
 'tor': '82',
 'van': '76'}

In [14]:
first_row = session.query(City_attributes).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2943c85c1d0>,
 'abbr': 'van',
 'city': 'Vancouver',
 'city_id': 1,
 'country': 'Canada',
 'latitude': Decimal('49.2496600000'),
 'longitude': Decimal('-123.1193390000')}

In [26]:
city_list = []
for row in session.query(City_attributes.city, City_attributes.country, City_attributes.abbr, City_attributes.latitude, City_attributes.longitude).all():
    city_list.append({
        "city_name": row[0],
        "country": row[1],
        "city_abbr": row[2],
        "lat": row[3],
        "lon": row[4]
    })
    print(row)

('Vancouver', 'Canada', 'van', Decimal('49.2496600000'), Decimal('-123.1193390000'))
('Portland', 'United States', 'por', Decimal('45.5234490000'), Decimal('-122.6762080000'))
('San Francisco', 'United States', 'sfran', Decimal('37.7749290000'), Decimal('-122.4194180000'))
('Seattle', 'United States', 'sea', Decimal('47.6062090000'), Decimal('-122.3320690000'))
('Los Angeles', 'United States', 'la', Decimal('34.0522310000'), Decimal('-118.2436830000'))
('San Diego', 'United States', 'sand', Decimal('32.7153280000'), Decimal('-117.1572570000'))
('Las Vegas', 'United States', 'laveg', Decimal('36.1749690000'), Decimal('-115.1372220000'))
('Phoenix', 'United States', 'pho', Decimal('33.4483800000'), Decimal('-112.0740430000'))
('Albuquerque', 'United States', 'alb', Decimal('35.0844920000'), Decimal('-106.6511380000'))
('Denver', 'United States', 'den', Decimal('39.7391510000'), Decimal('-104.9847030000'))
('SanAntonio', 'United States', 'sant', Decimal('29.4241200000'), Decimal('-98.4936290000'))
('Dallas', 'United States', 'dal', Decimal('32.7830580000'), Decimal('-96.8066710000'))
('Houston', 'United States', 'hou', Decimal('29.7632810000'), Decimal('-95.3632740000'))
('Kansas City', 'United States', 'ksc', Decimal('39.0997310000'), Decimal('-94.5785680000'))
('Minneapolis', 'United States', 'min', Decimal('44.9799690000'), Decimal('-93.2638400000'))
('Saint Louis', 'United States', 'stlo', Decimal('38.6272700000'), Decimal('-90.1978910000'))
('Chicago', 'United States', 'chi', Decimal('41.8500290000'), Decimal('-87.6500470000'))
('Nashville', 'United States', 'nash', Decimal('36.1658900000'), Decimal('-86.7844390000'))
('Indianapolis', 'United States', 'ind', Decimal('39.7683790000'), Decimal('-86.1580430000'))
('Atlanta', 'United States', 'atl', Decimal('33.7490010000'), Decimal('-84.3879780000'))
('Detroit', 'United States', 'det', Decimal('42.3314290000'), Decimal('-83.0457530000'))
('Jacksonville', 'United States', 'jac', Decimal('30.3321800000'), Decimal('-81.6556470000'))
('Charlotte', 'United States', 'char', Decimal('35.2270890000'), Decimal('-80.8431320000'))
('Miami', 'United States', 'mai', Decimal('25.7742690000'), Decimal('-80.1936570000'))
('Pittsburgh', 'United States', 'pit', Decimal('40.4406200000'), Decimal('-79.9958880000'))
('Toronto', 'Canada', 'tor', Decimal('43.7001110000'), Decimal('-79.4162980000'))
('Philadelphia', 'United States', 'phi', Decimal('39.9523390000'), Decimal('-75.1637880000'))
('New York', 'United States', 'nyc', Decimal('40.7142720000'), Decimal('-74.0059660000'))
('Montreal', 'Canada', 'mon', Decimal('45.5088390000'), Decimal('-73.5878070000'))
('Boston', 'United States', 'bos', Decimal('42.3584290000'), Decimal('-71.0597690000'))
('Beersheba', 'Israel', 'bee', Decimal('31.2518100000'), Decimal('34.7913020000'))
('Tel Aviv', 'Israel', 'tel', Decimal('32.0833280000'), Decimal('34.7999990000'))
('Eilat', 'Israel', 'eil', Decimal('29.5580500000'), Decimal('34.9482120000'))
('Haifa', 'Israel', 'hai', Decimal('32.8155590000'), Decimal('34.9891700000'))
('Nahariyya', 'Israel', 'nah', Decimal('33.0058590000'), Decimal('35.0940900000'))
('Jerusalem', 'Israel', 'jer', Decimal('31.7690390000'), Decimal('35.2163310000'))

In [32]:
city_list
for city in city_list:
    print("(", city['lat'], ",", city['lon'], ")")

( 49.2496600000 , -123.1193390000 )
( 45.5234490000 , -122.6762080000 )
( 37.7749290000 , -122.4194180000 )
( 47.6062090000 , -122.3320690000 )
( 34.0522310000 , -118.2436830000 )
( 32.7153280000 , -117.1572570000 )
( 36.1749690000 , -115.1372220000 )
( 33.4483800000 , -112.0740430000 )
( 35.0844920000 , -106.6511380000 )
( 39.7391510000 , -104.9847030000 )
( 29.4241200000 , -98.4936290000 )
( 32.7830580000 , -96.8066710000 )
( 29.7632810000 , -95.3632740000 )
( 39.0997310000 , -94.5785680000 )
( 44.9799690000 , -93.2638400000 )
( 38.6272700000 , -90.1978910000 )
( 41.8500290000 , -87.6500470000 )
( 36.1658900000 , -86.7844390000 )
( 39.7683790000 , -86.1580430000 )
( 33.7490010000 , -84.3879780000 )
( 42.3314290000 , -83.0457530000 )
( 30.3321800000 , -81.6556470000 )
( 35.2270890000 , -80.8431320000 )
( 25.7742690000 , -80.1936570000 )
( 40.4406200000 , -79.9958880000 )
( 43.7001110000 , -79.4162980000 )
( 39.9523390000 , -75.1637880000 )
( 40.7142720000 , -74.0059660000 )
( 45.5088390000 , -73.5878070000 )
( 42.3584290000 , -71.0597690000 )
( 31.2518100000 , 34.7913020000 )
( 32.0833280000 , 34.7999990000 )
( 29.5580500000 , 34.9482120000 )
( 32.8155590000 , 34.9891700000 )
( 33.0058590000 , 35.0940900000 )
( 31.7690390000 , 35.2163310000 )