In [29]:
import pandas as pd
import numpy as np
import random

In [13]:
directory = "/static/data/"
crime_df = pd.read_csv("crime_cleaned_data.csv")
avg_temp_df = pd.read_csv("daily_avg_temps.csv")
max_temp_df = pd.read_csv("daily_max_temps.csv")
min_temp_df = pd.read_csv("daily_min_temps.csv")
avg_humidity_df = pd.read_csv("humidity_daily_avg.csv")
max_humidity_df = pd.read_csv("humidity_daily_max.csv")
min_humidity_df = pd.read_csv("humidity_daily_min.csv")
avg_wind_df = pd.read_csv("wind_daily_avg.csv")
max_wind_df = pd.read_csv("wind_daily_max.csv")
min_wind_df = pd.read_csv("wind_daily_min.csv")

In [14]:
avg_temp_df = time_warp(avg_temp_df)
avg_temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston,Year,Month,Day
0,2012-10-01,53.00,48.00,61.00,47.55,66.00,65.00,68.00,74.27,54.27,...,80.00,46.64,56.00,55.27,59.64,55.00,57.64,2012,10,01
1,2012-10-02,55.62,55.08,67.67,53.38,73.00,71.62,75.29,82.62,61.88,...,80.67,52.88,57.75,60.96,63.96,56.67,60.54,2012,10,02
2,2012-10-03,54.21,61.67,74.88,58.04,78.67,76.46,81.50,85.54,64.38,...,79.04,63.17,57.62,62.96,62.46,57.54,60.54,2012,10,03
3,2012-10-04,52.25,55.96,72.46,52.21,73.12,73.25,83.62,84.33,67.88,...,81.08,68.08,59.00,68.79,66.04,56.62,62.33,2012,10,04
4,2012-10-05,51.08,59.25,63.46,52.83,67.75,69.29,81.54,83.58,67.42,...,83.58,64.96,61.17,69.58,69.62,57.96,61.54,2012,10,05

In [8]:
df = avg_temp_df[["Vancouver", "datetime"]][(avg_temp_df["Year"] == "2015") & (avg_temp_df["Month"] == "04")]
df = df.to_dict("list")
df2 = avg_humidity_df[["Vancouver", "datetime"]][(avg_humidity_df["Year"] == "2015") & (avg_humidity_df["Month"] == "04")]
df2 = df2.to_dict("list")

In [ ]:
var trace1 = {
  x: [1, 2, 3, 4, 5],
  y: [1, 6, 3, 6, 1],
  mode: 'markers',
  type: 'scatter',
  name: 'Team A',
  text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
  marker: { size: 12 }

In [10]:
trace = {
    'x': df['Vancouver'],
    'y': df2['Vancouver'],
    'type': 'scatter',
    'name': 'Vancouver Average Temperature vs Vancouver Average Humidity',
    'mode': 'markers',
    'marker': {'size': 12,
               'symobl': 'star',
               'color': 'purple'},
    'text': df['datetime']
}
trace

{'marker': {'color': 'purple', 'size': 12, 'symobl': 'star'},
 'mode': 'markers',
 'name': 'Vancouver Average Temperature vs Vancouver Average Humidity',
 'text': ['2015-04-01',
  '2015-04-02',
  '2015-04-03',
  '2015-04-04',
  '2015-04-05',
  '2015-04-06',
  '2015-04-07',
  '2015-04-08',
  '2015-04-09',
  '2015-04-10',
  '2015-04-11',
  '2015-04-12',
  '2015-04-13',
  '2015-04-14',
  '2015-04-15',
  '2015-04-16',
  '2015-04-17',
  '2015-04-18',
  '2015-04-19',
  '2015-04-20',
  '2015-04-21',
  '2015-04-22',
  '2015-04-23',
  '2015-04-24',
  '2015-04-25',
  '2015-04-26',
  '2015-04-27',
  '2015-04-28',
  '2015-04-29',
  '2015-04-30'],
 'type': 'scatter',
 'x': [45.67,
  42.92,
  43.71,
  41.12,
  41.33,
  44.29,
  44.33,
  45.58,
  46.12,
  46.75,
  43.5,
  41.83,
  41.83,
  43.29,
  42.83,
  43.83,
  48.33,
  50.21,
  51.12,
  53.04,
  52.25,
  48.38,
  47.25,
  44.79,
  45.96,
  49.04,
  49.96,
  53.17,
  49.83,
  49.96],
 'y': [-309.75,
  -294.54,
  -294.58,
  -282.58,
  -294.38,
  -309.38,
  -305.92,
  -310.88,
  -311.67,
  -308.42,
  -282.5,
  -283.92,
  -281.75,
  -289.17,
  -304.58,
  -306.79,
  -313.21,
  -317.33,
  -317.54,
  -319.79,
  -305.17,
  -281.79,
  -280.92,
  -280.0,
  -280.12,
  -281.08,
  -281.71,
  -293.21,
  -283.12,
  -280.58]}

In [ ]:
city_json

In [11]:
def time_warp(df):
    df['Year']=[d.split('-')[0] for d in df.datetime]
    df['Month']=[d.split('-')[1] for d in df.datetime]
    df['Day']=[d.split('-')[2] for d in df.datetime]
    return df

In [43]:
# Corey's code
def create_color_codes(weather_list):
    '''
    dynamically create color codes from weather descriptions
    '''
    color_codes = []
    snow_counter = 0
    storm_counter = 0
    rain_counter = 0
    clear_counter = 0
    for value in weather_list:
        try:
            if 'snow' in value:
                color_codes.append("rgb(159,255,203)")
                if snow_counter > 1:
                    color_codes.append(f"rgb(159,255,{203 + snow_counter * 2})")
                snow_counter += 1
            elif 'storm' in value:
                color_codes.append("rgb(16,79,85)")
                if storm_counter > 1:
                    color_codes.append(f"rgb({16 + storm_counter},{79 + snow_counter},85)")
                storm_counter += 1

            elif 'rain' in value:
                color_codes.append("rgb(160,210,219)")
                if rain_counter > 1:
                    color_codes.append(f"rgb(160,{210 - rain_counter * 4},219)")
                rain_counter += 1

            elif 'clear' in value:
                color_codes.append("rgb(251,237,99)")
                if clear_counter > 1:
                    color_codes.append(f"rgb(251,237,{99 + clear_counter})")
                clear_counter += 1
            else:
                color_codes.append(f"rgb({random.randint(1,150)},{random.randint(1,50)},99)")
            
        except:
            print('nan')
    return color_codes

In [22]:
def get_descriptions(arrival, city):
    import json
    '''
    takes in a date and city and gives a json string of 
    the value counts of the weather descriptions for that month
    result json also includes dynamically changing color codes
    
    arrival: datetime as a string, 
    city: column that corresponds to the weather_description.csv
    '''
    
    df = pd.read_csv('weather_description.csv',
                     parse_dates=['datetime'], index_col='datetime')
    time_frame = df.loc[pd.date_range(arrival, periods=30, freq='D').values, :]
    weather_descriptions = time_frame[city].value_counts(ascending=False)
    #results = weather_descriptions.to_json(orient='split')
   # print(weather_descriptions.to_json(orient='split'))
    # create color codes
    color_codes= create_color_codes(weather_descriptions.index)
    final_json = {
        "name":str(weather_descriptions.name),
        "index":[x for x in weather_descriptions.index],
        "data":[int(x) for x in weather_descriptions.values],
        "color_codes": color_codes
        }
    return json.dumps(final_json)
    
get_descriptions('05/01/2015', 'Los Angeles')

clear: sky is clear
nan
nan
nan

'{"name": "Los Angeles", "index": ["sky is clear", "light rain", "scattered clouds", "broken clouds", "few clouds", "moderate rain"], "data": [12, 7, 4, 3, 2, 2], "color_codes": ["rgb(251,237,99)", "rgb(160,210,219)", "rgb(160,210,219)"]}'

In [16]:
# Set these up so the code will match in the .py file
city = 'Vancouver'
month = '05'

In [48]:
# My take on Coreys code
df = pd.read_csv('weather_description.csv')
df = time_warp(df)
df = df[[f'{city}', 'datetime']][(df['Year'] == '2015') & (df['Month'] == month)]
df = df[city].value_counts(ascending=False)
color_codes = create_color_codes(df.index)
trace = {
    'type': 'pie',
    'name': str(df.name),
    'labels': [x for x in df.index],
    'values': [int(x) for x in df.values],
    'marker': {'colors' : color_codes},
    'hole': 0.4,
    'textinfo': 'labels'
}

In [32]:
color_codes = create_color_codes(df.index)

clear: sky is clear

['rgb(251,237,99)',
 'rgb(160,210,219)',
 'rgb(122,34,99)',
 'rgb(89,49,99)',
 'rgb(64,14,99)',
 'rgb(46,6,99)',
 'rgb(160,210,219)']

In [49]:
trace

{'hole': 0.4,
 'labels': ['sky is clear',
  'light rain',
  'few clouds',
  'scattered clouds',
  'broken clouds',
  'overcast clouds',
  'heavy intensity rain'],
 'marker': {'colors': ['rgb(251,237,99)',
   'rgb(160,210,219)',
   'rgb(15,46,99)',
   'rgb(108,42,99)',
   'rgb(66,42,99)',
   'rgb(46,9,99)',
   'rgb(160,210,219)']},
 'name': 'Vancouver',
 'textinfo': 'labels',
 'type': 'pie',
 'values': [347, 121, 93, 73, 69, 40, 1]}

In [ ]:
dfs = []
for key in avg_temp_df.keys():
    print(key)
    max_df = pd.DataFrame()
    avg_df = pd.DataFrame()
    min_df = pd.DataFrame()
    max_df["city"] = [key for keys in avg_temp_df]
    min_df["city"] = [key for keys in avg_temp_df]
    avg_df["city"] = [key for keys in avg_temp_df]
    avg_df["avg_temp"] = avg_temp_df[key]
    max_df["max_temp"] = max_temp_df[key]
    min_df["min_temp"] = min_temp_df[key]
    avg_df["avg_humidity"] = avg_humidity_df[key]
    max_df["max_humidity"] = max_humidity_df[key]
    min_df["min_humidity"] = min_humidity_df[key]
    avg_df["avg_wind"] = avg_wind_df[key]
    max_df["max_wind"] = max_wind_df[key]
    min_df["min_wind"] = min_wind_df[key]
    dfs.append(avg_df)
    dfs.append(min_df)
    dfs.append(max_df)

In [ ]:
dfs.pop(0)
dfs.pop(0)
dfs.pop(0)

In [ ]:
counter = 0
for df in dfs:
    counter += 1
    if((counter + 2) % 3 == 0):
        print(df.city[0])
    print(df.corr())
    print()

In [ ]:
dfs[2]